<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/05_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IDE**
- Google colab
- jupyter notebook
- VsCode
- kaggle
- Pycharm

**In the Last class we already discussed**
- print() function
- Data type
- How to take input fronm the user
- type conversion
- Operators in detail

#**Today`s Session Control Structures**
### **Loops**

## **First discuss Print Function again**

### **Output Formatting**

In [ ]:
a=22
b=5.664585
c="Hello"
d="Hi, You are looking good today."
e=True
print(a,b,c,d,e)
print(f"{a},{b},{c},{d},{e}")
print("{},{},{},{}".format(a,b,d,e))

22 5.664585 Hello Hi, You are looking good today. True
22,5.664585,Hello,Hi, You are looking good today.,True
22,5.664585,Hi, You are looking good today.,True

### **by using f-string method method**

In [ ]:
name = "Alice"
age = 25
salary = 150000.505055
print(f"Name: {name}, Age: {age}")
print(f"Salary: ${salary :,.2f}") # $150 ,000.51
print(f"Next year: {age + 1}") # Calculations!

Name: Alice, Age: 25
Salary: $150,000.51
Next year: 26

### **by using .format() method**

In [ ]:
print("Name: {}, Age: {}".format(name , age))
print("Name: {0}, Age: {1}".format(name , age))
print("Name: {1}, Age: {0}".format(name , age))
print("Name: {n}, Age: {a}".format(a=age,n=name))

Name: Alice, Age: 25
Name: Alice, Age: 25
Name: 25, Age: Alice
Name: Alice, Age: 25


## **while Loop**
```
ðŸ”¹ Definition : A while loop executes a block of code as long as a condition is True.

ðŸ”¹ Syntax
while condition:
    statement(s)

ðŸ”¹ When to use

When the number of iterations is NOT known
Loop depends on a condition

```

## **Print numbers 1 to 5**

In [ ]:
i=1
while i<6:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
# Print numbers 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

## **Write a program for multiplication table of 3**

In [ ]:
num=3
i=1
while i<11:
  print(i*num)
  i=i+1

3
6
9
12
15
18
21
24
27
30

In [ ]:
num=3
i=1
print(f"multiplication table of {num}")
print("="*15)
while i<11:
  print(num, "x", i ,"=" ,i*num)
  i=i+1

multiplication table of 3
===============
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
num=3
i=1
while i<11:
  print(f"{num} x {i} = {i*num}")
  i=i+1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

## **Write a program for finding sum of digit of a number**

In [ ]:
num=1234
original_num=num
sum=0
while num>0:
  last_digit=num%10
  sum=sum+last_digit
  num=num//10
print(f"The sum of digit of number {original_num} is {sum}")

The sum of digit of number 1234 is 10

In [1]:
num=int(input("Enter the numbe: "))
original_num=num
sum=0
while num>0:
  last_digit=num%10
  sum=sum+last_digit
  num=num//10
print(f"The sum of digit of number {original_num} is {sum}")

Enter the numbe: 45124
The sum of digit of number 45124 is 16

## **Write a program for finding Sum of first 10 numbers**

In [3]:
# Sum of first 5 numbers
i = 1
total = 0

while i <= 10:
    total += i
    i += 1
print(f"Sum of first 5 numbers is {total}")

Sum of first 5 numbers is 55

In [4]:
sum=0
for i in range(1,11):
    sum=sum+i

print(f"sum of first 10 natural number is {sum}")

sum of first 10 natural number is 55

## **Write a program for finding Sum of first n numbers, take n input from the user**

In [ ]:
# Sum of first 5 numbers
num=int(input("Enter the number for which you wants sum: "))
i = 1
total = 0

while i <= num:
    total += i
    i += 1
print(f"Sum of first {num} natural numbers = {total}")

Enter the number for which you wants sum: 6
Sum of first 6 natural numbers = 21



```
ðŸ”¹ Remember ðŸ§ 

Always update the condition variable
Otherwise â†’ infinite loop
```

In [5]:
sum=0
num=int(input("Enter the number: "))
for i in range(1,num+1):
    sum=sum+i

print(f"sum of first {num} natural number is {sum}")

Enter the number: 10
sum of first 10 natural number is 55

# **Guessing game**

In [ ]:
import random
Jackpot_num=random.randint(1,100)
Original_Jackpot_num=Jackpot_num
# loop will run till gussing_num!=Jackpot_num and break if condition will meet.
gussing_num=int(input("Guess the jackpot number for win: "))

while gussing_num!=Jackpot_num:
  if gussing_num<Jackpot_num:
    print("Wrong answer guess heigher")
  elif gussing_num>Jackpot_num:
    print("Wrong answer guess lower")
  gussing_num=int(input("Wrong Answer, Guess again: "))

print(f"Welldone Jackpot number {Original_Jackpot_num} and your guessing number {gussing_num}, you got it 1 crore, now take it form those who is giving i don`t have.")

Guess the jackpot number for win: 50
Wrong answer guess heigher
Wrong Answer, Guess again: 23
Wrong answer guess heigher
Wrong Answer, Guess again: 59
Wrong answer guess heigher
Wrong Answer, Guess again: 85
Wrong answer guess lower
Wrong Answer, Guess again: 65
Wrong answer guess heigher
Wrong Answer, Guess again: 70
Wrong answer guess heigher
Wrong Answer, Guess again: 75
Wrong answer guess lower
Wrong Answer, Guess again: 74
Wrong answer guess lower
Wrong Answer, Guess again: 73
Wrong answer guess lower
Wrong Answer, Guess again: 72
Welldone Jackpot number 72 and your guessing number 72, you got it 1 crore, now take it form those who is giving i don`t have.

## **Now also check attempt, How much attempt user took**

In [ ]:
import random
Jackpot_num=random.randint(1,100)
Original_Jackpot_num=Jackpot_num
# loop will run till guessing_num!=Jackpot_num and break if condition will meet.
guessing_num=int(input("Guess the jackpot number for win: "))

# Add counter to add count
count=1 # start the count from 1
while guessing_num!=Jackpot_num:
  if guessing_num<Jackpot_num:
    print("Wrong answer guess heigher")
  elif guessing_num>Jackpot_num:
    print("Wrong answer guess lower")
  guessing_num=int(input("Enter again: "))
  count+=1
print(f"Welldone Jackpot number was {Original_Jackpot_num} and your guessing number is also {guessing_num},")
print(f"You took {count} attempt")
print("âœŒï¸you got it 1 crore, now take it form those who is giving i don`t have.")

Guess the jackpot number for win: 58
Wrong answer guess lower
Enter again: 40
Wrong answer guess lower
Enter again: 56
Wrong answer guess lower
Enter again: 12
Wrong answer guess lower
Enter again: 5
Wrong answer guess heigher
Enter again: 6
Welldone Jackpot number was 6 and your guessing number is also 6,
You took 6 attempt
âœŒï¸you got it 1 crore, now take it form those who is giving i don`t have.


## **for Loop**
```
ðŸ”¹ Definition : A for loop is used to iterate over a sequence (range, list, string, etc.).

ðŸ”¹ Syntax
for variable in sequence:
    statement(s)

ðŸ”¹ When to use

When the number of iterations is known
When looping through a collection
```



```
The for loop is used for iterating over sequences (lists, strings, ranges, etc.)
```



```
The range() Function
Before learning for loops, understand range():
```
### **Different ways to use range ()**

In [6]:
print(list(range(5)))
print(list(range(1,5)))
print(list(range(1,11)))
print(list(range(1,11,2)))
print(list(range(10,0,-1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
print ("range (5) :", list ( range (5) ) ) # 0 to 4
print ("range (1 , 6) :", list ( range (1 , 6) ) ) # 1 to 5
print ("range (1 , 11 , 2) :", list ( range (1 , 11 , 2) ) ) # Odd numbers 1 -9
print ("range (10 , 0 , -1) :", list ( range (10 , 0 , -1) ) ) # Countdown 10 -1

range (5) : [0, 1, 2, 3, 4]
range (1 , 6) : [1, 2, 3, 4, 5]
range (1 , 11 , 2) : [1, 3, 5, 7, 9]
range (10 , 0 , -1) : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## **Print numbers 1 to 5**

In [ ]:
# Print numbers 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5



```
ðŸ”¹ Remember ðŸ§ 
range(start, stop) â†’ stop is excluded
range(5) means 0 to 4
```

In [ ]:
# Print characters of a string
for ch in "Python":
    print(ch)

P
y
t
h
o
n



```
The for loop is used for iterating over sequences (lists, strings, ranges, etc.).
```

In [ ]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in [8,5,6,4,1,2]:
    print(i, end=" ")

8 5 6 4 1 2

In [ ]:
for i in "Hello World":
    print(i, end=" ")

H e l l o   W o r l d

In [ ]:
for i in range (1,5):
    for j in range (i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

### **Q. printing the star pattern**

```
*  
* *  
* * *  
* * * *  
* * * * *
```

In [7]:
num=int(input("Enter the number for printing the star pattern till row: "))
for i in range(1,num+1):
    for j in range(i):
        print("*", end=" ")
    print(" ")

Enter the number for printing the star pattern till row: 5
*
* *
* * *
* * * *
* * * * *

### **Q. Print the even number till 10**

In [8]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

### **Q. Reverse the number**

In [9]:
num=456578
while num>0:
    last_digit=num%10
    num//=10
    print(last_digit,end= " ")

8 7 5 6 5 4

### **Q. Give the Even digit of given number for right (Right most side number will be 1)**

In [10]:
num=456578
count=1
while num>0:
    last_digit=num%10
    num//=10
    if count%2==0:
        print(last_digit,end= " ")
    count+=1

7 6 4

### **Q. Reverse the number**

In [ ]:
num=123456
rev_num=0
while num>0:
    last_digit=num%10
    rev_num=10*rev_num+last_digit
    num//=10
print(rev_num)

In [11]:
num=123456
int(str(num)[::-1])

654321

## **Q. Check the given number is prime or not**

In [12]:
num=12
count=1

for i in range (2,num):
    if num%i==0:
        count=count+1

if count>=2:
    print("Not prime")
else:
    print("Prime")

Not prime

In [13]:
num=12
is_prime=True

for i in range(2, num):
    if num%i==0:
        is_prime=False
        break

if is_prime:
    print("prime")
else:
    print("Not prime")

Not prime

## **HomeWork Problems**
#### **Use Contitions or loop whatever is applicable or you can use both According to Knowledge.**


## **Q1**
```
Print Pattern
*
* *
* * *

```


## **Q1.2**
```
Print Pattern
1
1 2
1 2 3
1 2 3 4

```


## **Q1.3**
```
Print Pattern
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

```


## **Q1.4**
```
Print Pattern
* * * * *
* * * *
* * *
* *
*

```


## **Q1.5**
```
Print Pattern
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

```


## **Q1.6**
```
Print Pattern
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

```


## **Q1.7**
```
Print Pattern
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

```


## **Q1.8**
```
Print Pattern
        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *


```


## **Q1.9**
```
Print Pattern
* * * * *
*       *
*       *
*       *
* * * * *

```


## **Q1.10**
```
Print Pattern
*
* *
*   *
*     *
* * * * *

```

[hint for above pattern](https://www.wscubetech.com/resources/python/programs/pattern)


## **Q2**
```
Factorial
ðŸ’­ How to Think
Multiply numbers from 1 to n
```

In [ ]:
num=5
fact=1
i=1
while i<num+1:
  fact*=i
  i+=1
print(fact)

120

In [ ]:
num=5
fact=1
for i in range(1,num+1):
  fact*=i

print(fact)

120

## **Q3**

```
Check Prime Number
ðŸ’­ How to Think

Prime â†’ divisible only by 1 and itself
Check from 2 to n-1
```

In [ ]:
num=15
is_prime=True
for i in range(2,num):
  if num%i==0:
    is_prime=False
    break

if is_prime:
  print(f"Given number {num} is prime")
else:
  print(f"Given number {num} is not prime")

Given number 15 is not prime

**Q. 3.2 Find all prime numbers between 1 to N**

In [17]:
n = int(input("Enter the number: "))
print(f"prime numbers between 1 to {n}")
for num in range(2, n+1):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(f"{num}")

Enter the number: 20
prime numbers between 1 to 20
2
3
5
7
11
13
17
19


## **Q4**
```
Fibonacci Series
ðŸ’­ How to Think
Each number = sum of previous two
```

In [ ]:
n = 7
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8

## **Q5**

```
3 digit Armstrong Number
ðŸ’­ How to Think

Get digits
Cube each digit
Compare with original
```

In [ ]:
n = 153
temp = n
sum = 0
# sum of each digit Cube equal to the number = Armstrong
while n > 0:
    digit = n % 10
    sum += digit ** 3
    n //= 10

if sum == temp:
    print("Armstrong")
else:
    print("Not Armstrong")

Armstrong

## **Q6.1**

```
Count number of digits in a number
ðŸ’­ How to Think
A number has digits
Removing last digit â†’ n // 10
Count how many times we can remove digits
```

In [ ]:
num=1234
Original_num=num
digit=0
while num>0:
  digit+=1
  num=num//10

print(f"No. of digit in the number {Original_num} is {digit}")

No. of digit in the number 1234 is 4

## **Q6.2**


```
Sum of digits at even positions (from right)
ðŸ’­ How to Think

Rightmost digit â†’ position 1
Need position tracking
% 10 gives digit
```

In [ ]:
num=123456
position=1
even_digit_sum=0


while num>0:
  last_digit=num%10
  if position%2==0:
    even_digit_sum+=last_digit
  position+=1
  num//=10

print(even_digit_sum)

9

## **Q7**


```
Reverse a number
ðŸ’­ How to Think
Take last digit
Push it to new number
```

In [ ]:
num=12345
rev_num=0

while num>0:
  rev_num=rev_num*10+(num%10)
  num//=10
print(rev_num)

54321

In [ ]:
num=int(input("Enter the number : "))
if num>0:

  #num=1234
  original_num=num
  rev_num=0
  while num>0:
    rev_num=rev_num*10+num%10
    num//=10

  print(f"reverse of {original_num} is {rev_num}")
else:
  print("enter the positive number ")

Enter the number : 123
reverse of 123 is 321

## **Q8**


```
Check Palindrome
ðŸ’­ How to Think
Reverse number
Compare with original
```

In [ ]:
num=12321
Original_num=num
rev_num=0

while num>0:
  rev_num=rev_num*10+(num%10)
  num//=10
#print(rev_num)

if Original_num==rev_num:
  print("Palindrome number")
else:
  print("Not Palindrome")

Palindrome number

## **Q9**

```
Count vowels in a string
ðŸ’­ How to Think
Traverse string character by character
Check membership
```

In [ ]:
word="education"
vowels="aeiouAEIOU"
count=0
for ch in word:
  if ch in vowels:
    count+=1
print(count)

5

## **Q10**

```
Find maximum element in a list
ðŸ’­ How to Think
Assume first element is max
Compare with others
```

In [ ]:
list1=[1,2,32,14,5]
max_val=list1[0]

for i in list1:
  if i>max_val:
    max_val=i

print(max_val)

32



```
Count number of digits in a number
Sum of digits at even positions (from right)
Reverse a number
Check Palindrome
Print Pattern
*
* *
* * *
Factorial
Count vowels in a string
Find maximum element in a list
Print digits one by one (reverse)
Keep taking input until 0
Check Prime Number
Prime numbers between 1 to N
Armstrong Number
Fibonacci Series

```


### **INTERVIEW-IMPORTANT(H.W)**
```
Q1. Find the first repeating element in a list
Q2. Check if two numbers are co-prime
(Two numbers are co-prime if GCD = 1)

Q3. Find missing number in range 1 to N
Q4. Check if a number is a Perfect Number
```