<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/12_02_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

**Seq. of Chars**

In Python: *Unicode Chars*

**Ops:**
- Create
- Access
- Add Chars
- Edit
- Delete
- Ops on Strings
- String Functions



```
üîπ Q. What is a String?

A string in Python is a sequence of characters enclosed in quotes.
```



```
üîπ 1. How to Create a String

Strings can be created using:
Single quotes ' '
Double quotes " "
Triple quotes ''' ''' or """ """ (multiline)
```

In [ ]:
string1='hello'
string2="Hello World"
string3='''Hi what you are doing tomorrow.
We can go for a movie if you dont have any problem.
'''
print(string1)
print(string2)
print(string3)

hello
Hello World
Hi what you are doing tomorrow.
We can go for a movie if you dont have any problem.

In [ ]:
s1 = "Python"
s2 = 'Data Science'
s3 = """This is
a multiline
string"""

In [ ]:
text1='Hello World'
text2="Hello World"
text3='''Hello World'''   # Creating the multiline string

print(text1, type(text1))
print(text2, type(text2))

print(text3, type(text3))

Hello World <class 'str'>
Hello World <class 'str'>
Hello World <class 'str'>

In [ ]:
Pragraph="""Word is noting about the kindness.
but what are you doing nothing for keeping it alive.
but you can do somthing more then that."""

print(Pragraph,type(Pragraph))

Word is noting about the kindness.
but what are you doing nothing for keeping it alive.
but you can do somthing more then that. <class 'str'>

In [ ]:
num=12345
print(num, type(num))

num=str(12345)
print(num, type(num))

word=str(True)
print(word, type(word))

12345 <class 'int'>
12345 <class 'str'>
True <class 'str'>

In [ ]:
name = "Arjun"
course = 'Python'
text = """Learning Python
is easy"""

## Access
*Indexing Types:*
- Positive
- Negative



```
üîπ 2. String is an Ordered Sequence

Each character has an index
Index starts from 0
Negative indexing starts from -1

s = "Python"
```

| Index | 0 | 1 | 2 | 3 | 4 | 5 |
| ----- | - | - | - | - | - | - |
| Char  | P | y | t | h | o | n |

In [ ]:
text="Python"
print(text)
print(text[0])
print(text[1])
print(text[2])
print(text[3])
print(text[4])
print(text[5])

Python
P
y
t
h
o
n

In [ ]:
text[6]

IndexError: string index out of range

In [ ]:
text="Python"
print(text[-1])
print(text[-2])
print(text[-3])
print(text[-4])
print(text[-5])
print(text[-6])

n
o
h
t
y
P

In [ ]:
print(text[-7])

IndexError: string index out of range

# Slicing



```
üîπ 3. String Slicing

Slicing extracts a part of the string.
Syntax
string[start : end : step]

```

In [ ]:
word="Hello World"
print(len(word))
word[:15]

11

'Hello World'

In [ ]:
word="Hello World"

print(word[0:6]) # Slices from index 0 up to (but not including) index 6, resulting in 'Hello '.
print(word[2:]) # Slices from index 2 to the end of the string, resulting in 'llo World'.
print(word[:6]) # Slices from the beginning up to (but not including) index 6, resulting in 'Hello '.
print(word[2:6]) # Slices from index 2 up to (but not including) index 6, resulting in 'llo '.
print(word[2:15:2]) # Slices from index 2 to the end of the string with a step of 2, resulting in 'loWrd'.

Hello
llo World
Hello
llo
loWrd

- Negative slicing

In [ ]:
word="Hello World"

print(word[-7:-1]) # Slices from the 7th character from the end up to (but not including) the 1st character from the end. This prints 'o Worl'.
print(word[-9:-2:2]) # Slices from the 9th character from the end up to (but not including) the 2nd character from the end, with a step of 2. This prints 'loWr'.
print(word[::-1]) # Reverses the entire string. This prints 'dlroW olleH'.
print(word[-9:-1:-2]) # This slice has a negative step but the start index (-9) is less than the end index (-1). Since the step is negative, it expects the start index to be greater than the end index. This results in an empty string.
print(word[2:9:-1]) # This slice has a negative step but the start index (2) is less than the end index (9). Since the step is negative, it expects the start index to be greater than the end index. This also results in an empty string.
print(word[-1:-9:-2])
print(word[9:2:-1])

o Worl
loWr
dlroW olleH


drWo
lroW ol

In [ ]:
s = "Education"

print(s[0:4])    # Educ
print(s[:5])     # Educa
print(s[2:])     # ucation
print(s[::-1])   # noitacudE (reverse)

Educ
Educa
ucation
noitacudE

In [ ]:
text="Hello World"

print(text[0:2])
print(text[0:3])
print(text[0:5:2])
print(text[:])
print(text[::2])
print(text[::2])
print(text[5:0])
print(text[5:0:2])
print(text[6:0:-1])
print(text[::-1])

He
Hel
Hlo
Hello World
HloWrd
HloWrd


W olle
dlroW olleH

# **Strings  are Immutable**



```
üîπ 4. Strings are Immutable (VERY IMPORTANT ‚≠ê)

Once a string is created, it cannot be changed.
```

In [ ]:
word="Arjun"
print(word,id(word))
word[0]="B"

Arjun 132537353085376

TypeError: 'str' object does not support item assignment

In [ ]:
print(word,id(word))
word="Gangwar" # can replace but id will change means new string created in new location
print(word,id(word))

Arjun 132537353085376
Gangwar 132537354708064

In [ ]:
# ‚ùå This is NOT allowed:
s = "Python"
s[0] = "J"   # Error

TypeError: 'str' object does not support item assignment

In [ ]:
# ‚úîÔ∏è Correct
s = "Python"
print(s,id(s))

s = "J" + s[1:]
print(s,id(s)) # Id change because new string created on new location.

Python 10702304
Jython 132537113266288

#### **List is mutable data type**

In [ ]:
list1=list("Arjun")
print(list1, list1[0],id(list1))

list1[0]="B"
print(list1,id(list1))

['A', 'r', 'j', 'u', 'n'] A 132537333870528
['B', 'r', 'j', 'u', 'n'] 132537333870528

## **String Operators**

```
üîπ 5. String Operators
üî∏ Concatenation (+)
üî∏ Repetition (*)
üî∏ Membership (in, not in)
```

- String Operation
- ### 1. Arithmetic Operations **Only * and +**

In [ ]:
print("*"*30)
print("$"*20)
print("*"*20)
print("hello!"*8)

******************************
$$$$$$$$$$$$$$$$$$$$
********************
hello!hello!hello!hello!hello!hello!hello!hello!

In [ ]:
print("Arjun"+"Gangwar")
print("Arjun"+""+"Gangwar")
print("Arjun"+" "+"Gangwar")

ArjunGangwar
ArjunGangwar
Arjun Gangwar

In [ ]:
first_name="Arjun"
last_name="Gangwar"

full_name=first_name+last_name
print(full_name)


full_name=first_name+" "+last_name
print(full_name)

ArjunGangwar
Arjun Gangwar

#### **2. Relational Operations (lexicographical comparison)**

In [ ]:
# 2. Relational Operations (lexicographical comparison)
print("Apple" < "Banana") # True (A comes before B)
print("apple" < "Banana") # False (lowercase > uppercase in ASCII)
print("Python" == "python") # False (case-sensitive)
print("Hello" != "World")

True
False
False
True

In [ ]:
"a">"B"

True

#### **3. Logical Operations**

In [ ]:
# 3. Logical Operations
print("Hello" and "World") # World
print("" or "Default") # Default
print(not "Hello") # False
print(not "")

World
Default
False
True

In [ ]:
print("" or "A")
print("" and "A") # Empty string is printed.

A

#### **4. Membership Operations**

In [ ]:
# 4. Membership Operations
quote = "To be or not to be"
print("be in quote:", "be" in quote) # True
print("python in quote:", "python" in quote) # False
print("BE in quote:", "BE" in quote) # False (case-sensitive)
print("to not in quote:", "to" not in quote) # False (case-sensitive)

be in quote: True
python in quote: False
BE in quote: False
to not in quote: False

# **loops**



```

üîπ Traversing a String: Using for loop

üîπ String Length: Use len() to find number of characters.

```

# Loops on Strings
- **for loop**

In [ ]:
# Loops on Strings
for ch in "Hello World":
    print(ch)

H
e
l
l
o

W
o
r
l
d

In [ ]:
word="Hello World"
for i in range(1,7):
    print(word[i])

e
l
l
o

W

In [ ]:
print(len(""))
print(len(" "))
print(len("A"))
print(len("arjungangwar"))

0
1
1
12

In [ ]:
email="arjungangwar@gmail.com"
index_position=0
for ch in email:
    if ch == "@":
        break
    index_position+=1

print(f"username is: ", email[:index_position])

username is:  arjungangwar

### **Reverse the string by using for loop**

In [ ]:
word="Hello World"
length=len("Hello World")
print(length)
print("#"*40)

for i in range(length-1,-1,-1): # Last value is excluded in range function
    print(f"Reverse order of srting by loop index {i}, word: ", word[i])

11
########################################
Reverse order of srting by loop index 10, word:  d
Reverse order of srting by loop index 9, word:  l
Reverse order of srting by loop index 8, word:  r
Reverse order of srting by loop index 7, word:  o
Reverse order of srting by loop index 6, word:  W
Reverse order of srting by loop index 5, word:
Reverse order of srting by loop index 4, word:  o
Reverse order of srting by loop index 3, word:  l
Reverse order of srting by loop index 2, word:  l
Reverse order of srting by loop index 1, word:  e
Reverse order of srting by loop index 0, word:  H

In [ ]:
text = "Python"
print("Characters in ‚ÄôPython‚Äô:")
for char in text:
  print(f"{char}")
print("\nEvery second character:")
for char in text[::2]:
  print(f"{char}")

Characters in ‚ÄôPython‚Äô:
P
y
t
h
o
n

Every second character:
P
t
o

# Loops on Strings

- **While loop**

In [ ]:
word="Hello World"
length=len(word)
ch_count=0
while length!=0:
  ch_count=ch_count+1
  length-=1

print(ch_count)

11

In [ ]:
word=input("Enter the text: ")
length=len(word)
ch_count=0
while length!=0:
  ch_count=ch_count+1
  length-=1

print(word,ch_count)

Enter the text: Hi what is use case of this function
Hi what is use case of this function 36

## **Reverse a String (Using while loop only)**



```
üß† Thinking Process

Start from last index
Keep decreasing index
Add characters one by one
```

In [ ]:
#s = input("Enter a string: ")
s="ArjunGangwar"
i = len(s) - 1
rev = ""

while i >= 0:
    rev += s[i]
    i -= 1

print("Reversed string:", rev)

Reversed string: rawgnaGnujrA

## **6. Important String Methods**

### **1.  Case conversion (upper, lower, title, capitalize, swapcase)**

In [ ]:
text = " python programming is FUN! "
# 1. Case conversion
print("Original:", text)
print("upper():", text.upper()) # Converts all characters in the string to uppercase
print("lower():", text.lower()) # Converts all characters in the string to lowercase
print("title():", text.title()) # Converts the first character of each word to uppercase and the rest to lowercase
print("capitalize():", text.capitalize()) # Capitalizes the first character of the string and converts the rest to lowercase
print("swapcase():", text.swapcase()) # Swaps the case of all characters (uppercase becomes lowercase and vice versa)

Original:  python programming is FUN!
upper():  PYTHON PROGRAMMING IS FUN!
lower():  python programming is fun!
title():  Python Programming Is Fun!
capitalize():  python programming is fun!
swapcase():  PYTHON PROGRAMMING IS fun!

In [ ]:
word="     ARjuN GAngwAr  "
print("Original:", word)
print("upper():", word.upper())
print("lower():", word.lower())
print("title():", word.title())
print("capitalize():", word.capitalize())
print("swapcase():", word.swapcase())

Original:      ARjuN GAngwAr
upper():      ARJUN GANGWAR
lower():      arjun gangwar
title():      Arjun Gangwar
capitalize(): Arjun gangwar
swapcase():      arJUn gaNGWaR

### **2. Stripping whitespace**

In [ ]:
word="    Arjun "
word.strip()

'Arjun'

In [ ]:
# 2. Stripping whitespace
print("With strip():", text.strip()) # Removes leading and trailing whitespace
print("With lstrip():", text.lstrip()) # Removes leading whitespace
print("With rstrip():", text.rstrip()) # Removes trailing whitespace

With strip(): python programming is FUN!
With lstrip(): python programming is FUN!
With rstrip():  python programming is FUN!

In [ ]:
print("With strip():", word.strip())
print("With lstrip():", word.lstrip())
print("With rstrip():", word.rstrip())

With strip(): ARjuN GAngwAr
With lstrip(): ARjuN GAngwAr
With rstrip():      ARjuN GAngwAr

### **3. Finding and replacing**

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"
print(sentence.find("G"))
print(sentence.replace("o","G"))

-1
The quick brGwn fGx jumps Gver the lazy dGg

In [ ]:
# 3. Finding and replacing
sentence = "The quick brown fox jumps over the lazy dog"
print('count("o"):', sentence.count("o")) # Counts the occurrences of a substring
print('find("fox"):', sentence.find("fox")) # Finds the first occurrence of a substring and returns its starting index, or -1 if not found
print('index("fox"):', sentence.index("fox")) # Similar to find(), but raises a ValueError if the substring is not found
print('replace("fox", "cat"):', sentence.replace("fox", "cat")) # Replaces all occurrences of a specified substring with another

count("o"): 4
find("fox"): 16
index("fox"): 16
replace("fox", "cat"): The quick brown cat jumps over the lazy dog

### **4. Checking string properties (isalnum, isalpha, isdigit, islower, isupper)**

In [ ]:
# 4. Checking string properties
# \n is used here for new line or line change
print("Original:", text)

print("\n'Python123'.isalnum():", "Python123".isalnum()) # Checks if all characters in the string are alphanumeric (letters or numbers)
print("'Python'.isalpha():", "Python".isalpha())     # Checks if all characters in the string are alphabetic (letters)
print("'123'.isdigit():", "123".isdigit())       # Checks if all characters in the string are digits
print("'python'.islower():", "python".islower())     # Checks if all cased characters in the string are lowercase
print("'PYTHON'.isupper():", "PYTHON".isupper())     # Checks if all cased characters in the string are uppercase

Original:  python programming is FUN!

'Python123'.isalnum(): True
'Python'.isalpha(): True
'123'.isdigit(): True
'python'.islower(): True
'PYTHON'.isupper(): True

### **5. Splitting and joining**

In [ ]:
# 5. Splitting and joining
data1 = "apple,banana,cherry,date"
data2 = "apple banana cherry,date"

print(data1.split(","))
print(data2.split(" "))

['apple', 'banana', 'cherry', 'date']
['apple', 'banana', 'cherry,date']

### **count the word in the sentence**

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"
print(f"Word count in sentence is: ",len(sentence.split(" ")))

Word count in sentence is:  9

### **count the ch and space in the sentence**

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"

ch_count=Sp_count=0
length=len(sentence)
for ch in sentence:
    if ch ==" ":
        Sp_count+=1
print("Length", length)
print(f"Ch", length-Sp_count)
print(f"sp", Sp_count)

Length 43
Ch 35
sp 8

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"

ch_count=Sp_count=0
length=len(sentence)

for ch in sentence:
    if "A"<=ch<="Z" or "a"<=ch<="z": # Use or instead of and (Because and will check both of the condition)
       ch_count+=1
    elif ch == " ":
        Sp_count+=1
print(ch_count,Sp_count)
print(f"Hence character count is: {ch_count} and space count is {Sp_count}")

35 8
Hence character count is: 35 and space count is 8

In [ ]:
# 5. Splitting and joining
data = "apple,banana,cherry,date"
fruits = data.split(",") # Splits the string by the specified delimiter into a list of substrings
print("\nSplit fruits:", fruits) # \n is used here for new line or line change
print("Joined with ‚Äô-‚Äô:", "-".join(fruits)) # Joins elements of an iterable (e.g., a list) with a specified string as a separator
print("Joined with ‚Äô@‚Äô:", "@".join(fruits)) # Joins elements of an iterable (e.g., a list) with a specified string as a separator

Split fruits: ['apple', 'banana', 'cherry', 'date']
Joined with ‚Äô-‚Äô: apple-banana-cherry-date
Joined with ‚Äô@‚Äô: apple@banana@cherry@date

In [ ]:
list1=['apple', 'banana', 'cherry', 'date']
"%".join(list1)

'apple%banana%cherry%date'

## **Remember some Important usefull method**

| Method         | Use                  |
| -------------- | -------------------- |
| `lower()`      | Convert to lowercase |
| `upper()`      | Convert to uppercase |
| `strip()`      | Remove spaces        |
| `replace()`    | Replace characters   |
| `split()`      | Split string         |
| `join()`       | Join elements        |
| `find()`       | Find index           |
| `count()`      | Count occurrences    |
| `startswith()` | Check start          |
| `endswith()`   | Check end            |

## **use of .format() method**

In [ ]:
# 6. String formatting
name = "Alice"
age = 25


# Using the .format() method
print("format(): {} is {} years old".format(name, age))
print("format(): {name} is {age} years old".format(name="Alice", age=25))
print("format(): {age} is {name} years old".format(name="Alice", age=25))
print("format(): {0} is {1} years old".format("Alice", 25))
print("format(): {1} is {0} years old".format("Alice", 25))


# f-string literal (Python 3.6+), for direct embedding of expressions
print("f-string: {name} is {age} years old")
print(f"Using f-string: {name} is {age} years old")

format(): Alice is 25 years old
format(): Alice is 25 years old
format(): 25 is Alice years old
format(): Alice is 25 years old
format(): 25 is Alice years old
f-string: {name} is {age} years old
Using f-string: Alice is 25 years old

In [ ]:
name = "Arjun"
age = 28

print(f"My name is {name} and age is {age}")
print(f"My name is {age} and age is {name}")

print("My name is {} and age is {}".format(name, age))
print(f"My name is {name} and age is {age}".format(name, age))
print(f"My name is {age} and age is {name}".format(name, age))

My name is Arjun and age is 28
My name is 28 and age is Arjun
My name is Arjun and age is 28
My name is Arjun and age is 28
My name is 28 and age is Arjun

# **Problems: Practical String Programs**

# **1. Find length of string without using len()**

In [ ]:
# Find length of string without using len()
text = "Hello Python!"

count = 0
for char in text:
  count += 1
  print(count)
# Test the function

print(f"String: {text}")
print(f"Length using built-in len(): {len(text)}")
print(f"Length using our logic: {count}")

if count == len(text):
  print("Both methods give the same result!")

1
2
3
4
5
6
7
8
9
10
11
12
13
String: Hello Python!
Length using built-in len(): 13
Length using our logic: 13
Both methods give the same result!


# **2. Reverse a String**
```
üß† Logic Building

Start with empty string
Traverse original string
Add each character in front
```

In [ ]:
s = input("Enter string: ")

rev = ""
for ch in s:
    rev = ch + rev

print("Reversed:", rev)

Enter string: Arjun Gangwar
Reversed: rawgnaG nujrA

In [ ]:
s = input("Enter string: ")
print("Reversed:", s[::-1])

Enter string: Arjun Gangwar
Reversed: rawgnaG nujrA

# **3. Palindrome Check (String)**

```
üß† Logic Building

Reverse the string
Compare with original
```

In [ ]:
s = input("Enter string: ")

rev = ""
for ch in s:
    rev = ch + rev

if s == rev:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter string: malyalam
Not Palindrome

In [ ]:
s = input("Enter string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter string: 1234321
Palindrome


# **4. Count Words in sentence**
```
üß† Logic Building

Words are separated by spaces
Count transitions from space to character
```



```
Count Spaces
```

In [ ]:
s = "Hi what is use case of this function."
count = 0

for ch in s:
    if ch == " ":
        count += 1

print("Word count:", count + 1)

Word count: 8

In [ ]:
#s = input("Enter sentence: ")
s="Hi what is use case of this function."
count = 0
inside_word = False #This means a new word has started or not

for ch in s:
    if ch != " " and not inside_word:
        count += 1
        inside_word = True
    elif ch == " ":
        inside_word = False

print("Word count:", count)

Enter sentence: Hi what is use case of this function.
Word count: 8

In [ ]:
s = input("Enter sentence: ")
print("Word count:", len(s.split()))

Enter sentence: Hi what is use case of this function.
Word count: 8


# **5. Count Vowels**
```
üß† Logic Building

Traverse string
Check each character is vowel or not
```

In [ ]:
s = input("Enter string: ")
vowels = "aeiouAEIOU"

count = 0
for ch in s:
    if ch in vowels:
        count += 1

print("Vowel count:", count)

Enter string: Education
Vowel count: 5

In [ ]:
s = input("Enter string: ")
vowels = "aeiouAEIOU"

count = sum(1 for ch in s if ch in vowels)
print("Vowel count:", count)

Enter string: Education
Vowel count: 5

# **6. Frequency of Characters**

```
üß† Logic Building

Use dictionary
Count occurrences
```

In [ ]:
text = "programming is fun"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print("Text:", text)
print("Character frequencies:")

for key, value in frequency.items():
    print(f"{key} : {value}")

Text: programming is fun
Character frequencies:
p : 1
r : 2
o : 1
g : 2
a : 1
m : 2
i : 2
n : 2
  : 2
s : 1
f : 1
u : 1

In [ ]:
text = "Hi What are you doing tomorrow."

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print("Text:", text)
print("Character frequencies:")

for key, value in frequency.items():
    print(f"{key} : {value}")

Text: Hi What are you doing tomorrow.
Character frequencies:
H : 1
i : 2
  : 5
W : 1
h : 1
a : 2
t : 2
r : 3
e : 1
y : 1
o : 5
u : 1
d : 1
n : 1
g : 1
m : 1
w : 1
. : 1

In [ ]:
s = input("Enter string: ")
#s="Hi What are you doing tomorrow."
freq = {}
for ch in s:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

print(freq)

Enter string: Hi What are you doing tomorrow.
{'H': 1, 'i': 2, ' ': 5, 'W': 1, 'h': 1, 'a': 2, 't': 2, 'r': 3, 'e': 1, 'y': 1, 'o': 5, 'u': 1, 'd': 1, 'n': 1, 'g': 1, 'm': 1, 'w': 1, '.': 1}

In [ ]:
from collections import Counter

s = input("Enter string: ")
print(Counter(s))

Enter string: Hi What are you doing tomorrow.
Counter({' ': 5, 'o': 5, 'r': 3, 'i': 2, 'a': 2, 't': 2, 'H': 1, 'W': 1, 'h': 1, 'e': 1, 'y': 1, 'u': 1, 'd': 1, 'n': 1, 'g': 1, 'm': 1, 'w': 1, '.': 1})

## **Program7: Extract Username from Email**

In [ ]:
# Extract username from email address

emails = ["arjun.g@saiuniversity.edu.in",
    "john.doe@gmail.com",
    "alice.smith@company.co.in",
    "bob@example.org",
    "not-an-email",
    "user@domain"
]

print("Email Username Extraction")
print("=" * 40)

for email in emails:
    if "@" in email:
        at_position = email.index("@")
        username = email[:at_position]
    else:
        username = email

    print(f"{email:30} -> {username}")

Email Username Extraction
========================================
arjun.g@saiuniversity.edu.in   -> arjun.g
john.doe@gmail.com             -> john.doe
alice.smith@company.co.in      -> alice.smith
bob@example.org                -> bob
not-an-email                   -> not-an-email
user@domain                    -> user

## **8. Find First Non-Repeating Character**


```
Input: programming
Output: p  (because p appears only once first)

üß† Thinking Process

Traverse each character
Count occurrences
If count == 1 ‚Üí stop
```

In [ ]:
word="programming"
word.count("m")

2

In [ ]:
# s = input("Enter string: ")
s="programming"

i = 0
found = False

while i < len(s):
    if s.count(s[i]) == 1:
        print("First non-repeating character:", s[i])
        found = True
        break
    i += 1

if not found:
    print("No unique character found")

First non-repeating character: p

## **9. Count Uppercase, Lowercase, Digits, Special Characters**

In [ ]:
# s = input("Enter string: ")
s="ArjunGangwariitpkd@gmail.com"

i = 0
upper = lower = digit = special = dot= 0

while i < len(s):
    ch = s[i]

    if 'A' <= ch <= 'Z':
        upper += 1
    elif 'a' <= ch <= 'z':
        lower += 1
    elif '0' <= ch <= '9':
        digit += 1
    elif ch == ".":
      dot+=1
    else:
        special += 1

    i += 1

print("Uppercase:", upper)
print("Lowercase:", lower)
print("Digits:", digit)
print("Special:", special)

Uppercase: 2
Lowercase: 24
Digits: 0
Special: 1

## **10. Check if Two Strings are Anagrams**

```
(Anagram ‚Üí same characters, different order
Ex: "listen" and "silent")

üß† Thinking Process

If lengths not equal ‚Üí not anagram
Count characters manually
Compare frequency
```

**by While loop**

In [ ]:
# s1 = input("Enter first string: ")
# s2 = input("Enter second string: ")
s1="listen"
s2="silent"

if len(s1) != len(s2):
    print("Not Anagram")
else:
    i = 0
    is_anagram = True

    while i < len(s1):
        if s1.count(s1[i]) != s2.count(s1[i]):
            is_anagram = False
            break
        i += 1

    if is_anagram:
        print("Anagram")
    else:
        print("Not Anagram")

Anagram

**by nested for loop**

In [ ]:
s1="listen"
s2="silenY"

if len(s1)!=len(s2):
  print("Not the Angram")
else:
  is_Angram=False
  for ch in s1:
    for ch in s2:
      is_Angram=True

  if is_Angram:
    print("Angram")
  else:
    print("Not Angram")

Angram

**by single for loop with conditional statement.**

In [ ]:
s1="listen"
s2="sileny"

if len(s1)!=len(s2):
  print("Not the Angram")
else:
  is_angram=True

  for ch in s1:
    if ch not in s2:
      is_angram=False
      break

  if is_angram:
    print("Angram")
  else:
    print("Not Angram")

Not Angram