<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/17_02_2026_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Revising the string concepts**

# **String indexing and slicing**

In [1]:
c = "Education is one of the key of Success"

print(c[0])        # prints the first character of the string
print(c[-1])       # prints the last character of the string

print(c[0:5])      # prints characters from index 0 to 4
print(c[2:])       # prints the string starting from index 2 till the end
print(c[:4])       # prints characters from the start up to index 3
print(c[:])        # prints the complete string

print(c[2:6:2])    # prints characters from index 2 to 5, skipping every 2nd character
print(c[0:8:3])    # prints characters from index 0 to 7, skipping every 3rd character

print(c[0:6:-1])   # prints nothing because step is negative but start < stop
print(c[-5:-1:2])  # prints characters from index -5 to -2, skipping every 2nd character

print(c[-1:-5:-1]) # prints characters from last index to index -4 in reverse order
print(c[::-1])     # prints the entire string in reverse order

E
s
Educa
ucation is one of the key of Success
Educ
Education is one of the key of Success
ua
Eci

ce
ssec
sseccuS fo yek eht fo eno si noitacudE

## String Functions

### 1. Common Functions

- `len()`
- `max()`
- `min()`
- `sorted()`

In [ ]:
word = 'kolkata'
len(word)

7

In [ ]:
max(word)

't'

In [ ]:
min(word)

'a'

In [ ]:
sorted(word)

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [ ]:
sorted(word, reverse=True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

### Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
word
word.capitalize()

'Kolkata'

In [ ]:
word

'kolkata'

In [ ]:
'it is raining today'.capitalize()

'It is raining today'

In [ ]:
'it is raining today'.title()

'It Is Raining Today'

In [ ]:
word.upper().lower()

'kolkata'

In [ ]:
"KoLkAtA".swapcase()

'kOlKaTa'

### Count

In [ ]:
"it is raining".count("i")

4

In [ ]:
"it is raining".count("ing")

1

In [ ]:
"it is raining".count("x")

0

### Find/Index

In [ ]:
"it is raining".find("i")

0

In [ ]:
"it is raining".find("g")

12

In [ ]:
"it is raining".find("raining")

6

In [ ]:
"it is raining".find("x")

-1

In [ ]:
"it is raining".index("raining")

6

In [ ]:
"it is raining".index("x")

ValueError: substring not found

### endswith/startswith

In [ ]:
"it is raining".endswith("ing")

True

In [ ]:
"it is raining".endswith("ingf")

False

In [ ]:
"it is raining".startswith("it")

True

### format

In [ ]:
"Hello my name is {} and I am {}".format("Arjun", 28)

'Hello my name is Arjun and I am 28'

In [ ]:
"Hello my name is {1} and I am {0}".format("Arjun", 28)

'Hello my name is 28 and I am Arjun'

In [ ]:
"Hello my name is {name} and I am {age}".format(name = "Saurabh", age = 22)

'Hello my name is Saurabh and I am 22'

In [ ]:
"Hello my name is {age} and I am {name}".format(name = "Saurabh", age = 22)

'Hello my name is 22 and I am Saurabh'

In [ ]:
"Hello my name is {name} and I am {name}".format(name = "Saurabh", age = 22, weight = 90)

'Hello my name is Saurabh and I am Saurabh'

### isalnum/isalpha/isdecimal/isdigit/isidentifier

In [ ]:
"FLAT20".isalnum() # Alphanumeric

True

In [ ]:
"FLAT20&".isalnum()

False

In [ ]:
"Hello World".isidentifier()

False

In [ ]:
"Hello_World".isidentifier()

True

### Split

In [ ]:
"who is the pm of india".split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [ ]:
"who is the pm of india".split("pm")

['who is the ', ' of india']

In [ ]:
"who is the pm of india".split("i")

['who ', 's the pm of ', 'nd', 'a']

In [ ]:
"who is the pm of india".split("x")

['who is the pm of india']

### Join

In [ ]:
" ".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

In [ ]:
"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

### Replace

In [ ]:
"Hi my name is Saurabh".replace("Saurabh", "Arjun")

'Hi my name is Arjun'

In [4]:
word="Education is important not only for job but also for creativie thinking."

print(word.upper())
print(word.lower())
print(word.title())
print(word.capitalize())
print(word.count("E"))
print(word.count("o"))

EDUCATION IS IMPORTANT NOT ONLY FOR JOB BUT ALSO FOR CREATIVIE THINKING.
education is important not only for job but also for creativie thinking.
Education Is Important Not Only For Job But Also For Creativie Thinking.
Education is important not only for job but also for creativie thinking.
1
8

### **Find how many words are present in a sentence .**

In [ ]:
Sentence="Education is important not only for job but also for creativie thinking."

sp_count=1

for ch in Sentence:
    if ch==" ":
        sp_count+=1


print(f"Total number of words presents inside the sentence is : {sp_count}")


**Print the pattern**
```
* * * * *
*       *
*       *
*       *
* * * * *
```

In [5]:
n = 5
row = 1
while row <= n:
    col = 1
    while col <= n:
        if row == 1 or row == n or col == 1 or col == n:
            print("*", end=" ")
        else:
            print(" ", end=" ")
        col = col + 1
    print()  # New line
    row = row + 1

* * * * *
*       *
*       *
*       *
* * * * *

## **Conceptual Examples**

In [ ]:
# 1. Length of String without len()
s = input('enter the string: ')
count = 0
for i in s:
  count += 1
print('length of string is', count)

enter the string: arjungangwariitpkd
length of string is 18

In [ ]:
# 2. Extract username from email
# Eg: arjungangwariitpkd@gmail.com ---> arjungangwariitpkd
string = input('enter the email: ')
position = string.index('@')
print(string[0:position])

enter the email: arjungangwariitpkd@gmail.com
arjungangwariitpkd

In [ ]:
# 3. Count character frequency in a string
s = input('enter the email: ')
term = input('what would like to search for: ')
count = 0
for i in s:
  if i == term:
    count += 1
print('frequency', count)

enter the email: arjungangwariitpkd@gmail.com
what would like to search for: i
frequency 3

In [ ]:
# 4. Remove Character from String
s = input('enter the string: ')
term = input('what would like to remove: ')
result = ''
for i in s:
  if i != term:
    result += i
print(result)

enter the string: arjungangwariitpkd@gmail.com
what would like to remove: @
arjungangwariitpkdgmail.com

In [ ]:
# 5. Check if a string is a palindrome
# This code checks if the input string is a palindrome.
s = input('enter the string: ')
is_palindrome = True
for i in range(0,len(s)//2):
  # Compare character from the beginning (s[i]) with the corresponding character from the end (s[len(s) - i - 1])
  if s[i] != s[len(s) - i -1]:
    is_palindrome = False
    print('Not a Palindrome')
    break # If characters don't match, it's not a palindrome, so stop checking
# If the loop completes without finding any mismatches, it's a palindrome
if is_palindrome:
  print('Palindrome')

enter the string: dalda
Not a Palindrome

In [ ]:
# 6. Word Count Without split()
s = input('enter the string: ')
L = []
temp = ''
for i in s:
  if i != ' ':
    temp += i
  else:
    L.append(temp)
    temp = ''
L.append(temp)
print(L)
print(len(L))

enter the string: Count character frequency in a string
['Count', 'character', 'frequency', 'in', 'a', 'string']
6

In [ ]:
# 7. Convert String to Title Case (No title())
s = input('enter the string: ')
L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())
print(" ".join(L))

enter the string: Count character frequency in a string
Count Character Frequency In A String

In [ ]:
# 8. Integer to String Conversion
number = int(input('enter the number: '))
digits = '0123456789'
result = ''
while number != 0:
  result = result+ digits[number % 10]
  number //= 10
print(result)
print(type(result))

enter the number: 5485774554
4554775845
<class 'str'>

In [ ]:
#Anagram

s1="listen"
s2="sileny"

if len(s1)!=len(s2):
    print("Not an Anagram")
else:

    Is_Anagram=None

    for ch in s1:
        if ch not in s2:
            # print("Not an Anagram")
            Is_Anagram=False
            break
        else:
            # print("Anagram")
            Is_Anagram=True

    if Is_Anagram:
        print("Anagram")
    else:
        print("Not Anagram")

Not Anagram

# **List**

**Collection in Python for sequences of diverse data types.**

## List vs Array

- **Array**: Homogeneous; Contiguous memory; Fast; Numerical/Scientific use.
- **List**: Heterogeneous; Non-contiguous memory; Programmer-friendly; General-purpose.

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

## Arrays vs. Lists in Memory:

- **Arrays:**
  - `int arr[50];` ---> 50 contiguous memory blocks.
  - Elements stored in binary form at consecutive addresses.

- **Lists:**
  - `list_example = [1, 2, 3]` ---> Elements at different locations.
  - Stores references/pointers to elements, not the values.

In [3]:
# proof --->
L = [1, 2, 3]
print(id(L))        # Prints the memory address of the list object itself.
print(id(L[0]))     # Prints the memory address of the integer object 1.
print(id(L[1]))     # Prints the memory address of the integer object 2.
print(id(L[2]))     # Prints the memory address of the integer object 3.
print(id(1))        # Prints the memory address of the integer object 1.
print(id(2))        # Prints the memory address of the integer object 2.
print(id(3))        # Prints the memory address of the integer object 3.

139566932342208
11654376
11654408
11654440
11654376
11654408
11654440



```
# Observe that id(L[0]) is the same as id(1), id(L[1]) is the same as id(2), and so on.
# This demonstrates that lists store references/pointers to elements, not the values directly.
# The elements themselves (the integers 1, 2, 3) are distinct objects in memory,
# and the list 'L' contains references to these integer objects at different locations.
```

## List Characteristics

- *Ordered*
- *Mutable*
- *Heterogeneous*
- *Duplicates allowed*
- *Dynamic size*
- *Nesting supported*
- *Indexable*
- *Any object type*

## 1. Create

In [ ]:
# Empty
L = []
L

[]

In [ ]:
# 1D ---> Homo
L1 = [1, 2, 3, 4, 5]
L1

[1, 2, 3, 4, 5]

In [ ]:
# Hetrogenous
L2 = ["Hello", 4, 5, 6, True, 5+6j]
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [ ]:
# Multidimentional list:
# 2D
L3 = [1, 2, 3, [4, 5]]
L3

[1, 2, 3, [4, 5]]

In [ ]:
# 3D
L4 = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
# Using Type Conversion
L5 = list("Arjun")
L5

['A', 'r', 'j', 'u', 'n']

In [ ]:
L6 = list()
L6

[]

In [5]:
# 5. Using type conversion
from_string = list("Python")
from_range = list(range(1, 6))
print(from_string)
print(from_range)

['P', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 4, 5]

In [ ]:
# 2. Homogeneous list (same type)
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
print("Numbers:", numbers)
print("Fruits:", fruits)

Numbers: [1, 2, 3, 4, 5]
Fruits: ['apple', 'banana', 'cherry']

In [ ]:
# 3. Heterogeneous list (mixed types)
mixed = ["Hello", 42, 3.14, True, 5+6j]
print("Mixed list:", mixed)

Mixed list: ['Hello', 42, 3.14, True, (5+6j)]

In [8]:
# 4. Nested lists (2D, 3D)
matrix_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
cube_3d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("2D Matrix:", matrix_2d)
print("3D Cube:", cube_3d)

2D Matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3D Cube: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [9]:
cube_3d[1][0][1]

6

In [10]:
m=[[1,2,3],[[4,5,6],[7,8,9]]]
m[-1][-1][0]

7

In [7]:
list_3D=[[[1,2],[[3,4],6]]]
print(list_3D)
print(list_3D[0])
print(list_3D[0][1])
print(list_3D[0][1][0])
print(list_3D[0][1][0][1])

[[[1, 2], [[3, 4], 6]]]
[[1, 2], [[3, 4], 6]]
[[3, 4], 6]
[3, 4]
4

In [ ]:
# 5. Using type conversion
from_string = list("Python")
from_range = list(range(1, 6))
print("From string:", from_string)
print("From range:", from_range)

From string: ['P', 'y', 't', 'h', 'o', 'n']
From range: [1, 2, 3, 4, 5]

In [11]:
# 5. Using type conversion
from_string = list("Python")
from_range = list(range(1, 6))
print(from_string, from_range)

['P', 'y', 't', 'h', 'o', 'n'] [1, 2, 3, 4, 5]

## 2. Access

In [ ]:
# Accessing elements in lists
numbers = [10, 20, 30, 40, 50]
# 1. Indexing
print("numbers[0]:", numbers[0]) # 10
print("numbers[2]:", numbers[2]) # 30
print("numbers[-1]:", numbers[-1]) # 50 (last element)
print("numbers[-2]:", numbers[-2]) # 40

numbers[0]: 10
numbers[2]: 30
numbers[-1]: 50
numbers[-2]: 40

In [ ]:
# 2. Slicing
print("numbers[1:4]:", numbers[1:4]) # [20, 30, 40]
print("numbers[:3]:", numbers[:3]) # [10, 20, 30]
print("numbers[2:]:", numbers[2:]) # [30, 40, 50]
print("numbers[::2]:", numbers[::2]) # [10, 30, 50] (every 2nd)
print("numbers[::-1]:", numbers[::-1]) # [50, 40, 30, 20, 10] (reverse)

numbers[1:4]: [20, 30, 40]
numbers[:3]: [10, 20, 30]
numbers[2:]: [30, 40, 50]
numbers[::2]: [10, 30, 50]
numbers[::-1]: [50, 40, 30, 20, 10]

In [ ]:
# 3. Accessing nested lists
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("matrix[0]:", matrix[0]) # [1, 2, 3]
print("matrix[1][2]:", matrix[1][2]) # 6
print("matrix[-1][-1]:", matrix[-1][-1]) # 9

matrix[0]: [1, 2, 3]
matrix[1][2]: 6
matrix[-1][-1]: 9

In [34]:
L1=[1, 2, 3, 4, 5]
L1

[1, 2, 3, 4, 5]

In [ ]:
L1[0]

1

In [ ]:
L1[-1]

5

In [ ]:
# Slicing
L1[1:3]

[2, 3]

In [ ]:
L1[::-1]

[5, 4, 3, 2, 1]

In [ ]:
L3

[1, 2, 3, [4, 5]]

In [ ]:
L3[0]

1

In [ ]:
L3[-1]

[4, 5]

In [ ]:
x = L3[-1]
x

[4, 5]

In [ ]:
x[0]

4

In [ ]:
L3[-1][0]

4

In [ ]:
L3[-1][-1]

5

In [ ]:
L4

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [ ]:
L4[-1][-1][0]

7

In [ ]:
L4[0][1][1]

4

# **3.ModifyingLists**

## 3. Edit

In [12]:
# Lists are mutable-we can modify them
fruits = ["apple", "banana", "cherry"]
print("Original:", fruits)

# 1. Modify by index
fruits[0] = "orange"
print("After fruits[0] = orange:", fruits)

Original: ['apple', 'banana', 'cherry']
After fruits[0] = orange: ['orange', 'banana', 'cherry']

In [13]:
# 2. Modify by slicing
fruits[1:3] = ["grape", "mango", "kiwi"]
print("After fruits[1:3] = [grape, mango, kiwi]:", fruits)

After fruits[1:3] = [grape, mango, kiwi]: ['orange', 'grape', 'mango', 'kiwi']

In [14]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

# 2. Modify by slicing
fruits[1:4] = ["grape", "mango", "kiwi"]
print(fruits)

fruits[1:3] = ["XYZ", "ABC"]
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'grape', 'mango', 'kiwi']
['apple', 'XYZ', 'ABC', 'kiwi']

In [15]:
# 3. Modify nested lists
matrix = [[1, 2], [3, 4]]
matrix[0][1] = 99
print("Modified matrix:", matrix)

Modified matrix: [[1, 99], [3, 4]]

In [16]:
matrix1=[[1,2],[3,4]]
matrix1[-1][-1]=100
matrix1

[[1, 2], [3, 100]]

In [36]:
L1=[1, 2, 3, 4, 5]
L1

[1, 2, 3, 4, 5]

In [ ]:
# Editing With Indexing
L1[0] = 100
L1
# List in Python are Mutable

[100, 2, 3, 4, 5]

In [ ]:
L1[-1] = 500
L1

[100, 2, 3, 4, 500]

In [ ]:
# Editing With Slicing
L1[1:4] = [200, 300, 400]
L1

[100, 200, 300, 400, 500]

# **4. Adding Elements to Lists**

## 4. Add

- `append()`
- `extend()`
- `insert()`

In [ ]:
numbers = [1, 2, 3]
print("Original list:", numbers)

# 1. append()-add single element at the end
numbers.append(4)
print("After append(4):", numbers)

Original list: [1, 2, 3]
After append(4): [1, 2, 3, 4]

In [ ]:
# 2. extend()-add multiple elements
numbers.extend([5, 6, 7])
print("After extend([5, 6, 7]):", numbers)

After extend([5, 6, 7]): [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 3. insert()-add element at specific position
numbers.insert(0, 0) # Insert 0 at index 0
print("After insert(0, 0):", numbers)

After insert(0, 0): [0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
numbers.insert(3, 99) # Insert 99 at index 3
print("After insert(3, 99):", numbers)

After insert(3, 99): [0, 1, 2, 99, 3, 4, 5, 6, 7]

In [ ]:
# Difference between append() and extend()
list1 = [1, 2, 3]
list1.append([4, 5]) # Adds the entire list as one element
print("append([4, 5]):", list1) # [1, 2, 3, [4, 5]]


list2 = [1, 2, 3]
list2.extend([4, 5]) # Adds each element separately
print("extend([4, 5]):", list2) # [1, 2, 3, 4, 5]

append([4, 5]): [1, 2, 3, [4, 5]]
extend([4, 5]): [1, 2, 3, 4, 5]

In [37]:
L1=[100, 200, 300, 400, 500]
L1

[100, 200, 300, 400, 500]

In [ ]:
L1.append(1000)
L1

[100, 200, 300, 400, 500, 1000]

In [ ]:
L1.append("hello")
L1

[100, 200, 300, 400, 500, 1000, 'hello']

In [ ]:
L1.extend([5000, 6000, 7000])
L1

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000]

In [ ]:
L1.append([5, 6])
L1

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6]]

In [ ]:
L1.extend("goa")
print(L1)

[100, 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6], 'g', 'o', 'a']

In [ ]:
L1.insert(1, "world")
print(L1)

[100, 'world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6], 'g', 'o', 'a']

## **5. Removing Elements from Lists**

## 5. Delete

- `del`
- `.remove()`
- `.pop()`
- `.clear()`

In [ ]:
numbers = [10, 20, 30, 40, 50, 30, 60]
print("Original list:", numbers)

# 1. del statement-remove by index
del numbers[1]
print("After del numbers[1]:", numbers) # [10, 30, 40, 50, 30, 60]

Original list: [10, 20, 30, 40, 50, 30, 60]
After del numbers[1]: [10, 30, 40, 50, 30, 60]

In [ ]:
# 2. remove()-remove by value (first occurrence)
numbers.remove(30)
print("After remove(30):", numbers) # [10, 40, 50, 30, 60]

After remove(30): [10, 40, 50, 30, 60]

In [ ]:
# 3. pop()-remove and return by index (default last)
popped = numbers.pop()
print(f"After pop(): {numbers}, popped: {popped}") # [10, 40, 50, 30],60
popped2 = numbers.pop(1)
print(f"After pop(1): {numbers}, popped: {popped2}") # [10, 50, 30],40

After pop(): [10, 40, 50, 30], popped: 60
After pop(1): [10, 50, 30], popped: 40

In [ ]:
# 4. clear()-remove all elements
numbers.clear()
print("After clear():", numbers) # []

After clear(): []

In [ ]:
# 5. Using slicing to delete
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
del numbers[2:5]
print("After del numbers[2:5]:", numbers) # [1, 2, 6, 7, 8]

After del numbers[2:5]: [1, 2, 6, 7, 8]

In [ ]:
L2=['Hello', 4, 5, 6, True, (5+6j)]
L2

['Hello', 4, 5, 6, True, (5+6j)]

In [ ]:
del L2
L2

NameError: name 'L2' is not defined

In [ ]:
print(L1)

[100, 'world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6], 'g', 'o', 'a']

In [ ]:
del L1[0]
print(L1)

['world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, [5, 6], 'g', 'o', 'a']

In [ ]:
del L1[-4]
L1

['world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000, 'g', 'o', 'a']

In [ ]:
del L1[-3:]
L1

['world', 200, 300, 400, 500, 1000, 'hello', 5000, 6000, 7000]

In [ ]:
L1.remove("hello")
L1

['world', 200, 300, 400, 500, 1000, 5000, 6000, 7000]

In [ ]:
L1.pop()
L1

['world', 200, 300, 400, 500, 1000, 5000, 6000]

In [ ]:
L1.pop()
L1

['world', 200, 300, 400, 500, 1000, 5000]

In [ ]:
L1.clear()
L1

[]

## **6. List Operations**

## 6. Operations

- Arithmetic
- Membership
- Loop

In [ ]:
# Basic list operations
list1 = [1, 2, 3]
list2 = [4, 5, 6]
# 1. Concatenation
combined = list1 + list2
print("list1 + list2:", combined) # [1, 2, 3, 4, 5, 6]

list1 + list2: [1, 2, 3, 4, 5, 6]

In [ ]:
# 2. Repetition
repeated = list1 * 3
print("list1 * 3:", repeated) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

list1 * 3: [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 3. Membership test
print("2 in list1:", 2 in list1) # True
print("7 in list1:", 7 in list1) # False
print("4 not in list1:", 4 not in list1) # True

2 in list1: True
7 in list1: False
4 not in list1: True

In [ ]:
# 4. Iteration
print("Elements in list1:")
for item in list1:
  print(f"{item}")
print("\nElements with index:")
for index, value in enumerate(list1):
  print(f" list1[{index}] = {value}")

Elements in list1:
1
2
3

Elements with index:
 list1[0] = 1
 list1[1] = 2
 list1[2] = 3

In [ ]:
# 5. Length
print(f"Length of list1: {len(list1)}")
print(f"Length of combined: {len(combined)}")

Length of list1: 3
Length of combined: 6

In [ ]:
L = [1, 2, 3, 4]
L1 = [5, 6, 7, 8]

In [ ]:
# Concatenation/Merge
L + L1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L

[1, 2, 3, 4]

In [ ]:
L1

[5, 6, 7, 8]

In [ ]:
L * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Loops
for i in L:
    print(i)

1
2
3
4

In [ ]:
L3

[1, 2, 3, [4, 5]]

In [ ]:
for i in L3:
    print(i)

1
2
3
[4, 5]

In [ ]:
4 in L3

False

In [ ]:
[4, 5] in L3

True

### **List Methods and Functions**

## 7. Functions

- `len()`
- `min()`
- `max()`
- `sorted()`

In [38]:
numbers = [5, 2, 8, 1, 9, 3, 5, 5]
print("Original list:", numbers)

Original list: [5, 2, 8, 1, 9, 3, 5, 5]

In [39]:
# 1. Sorting
sorted_list = sorted(numbers) # Returns new sorted list
print("sorted(numbers):", sorted_list)
print("Original after sorted():", numbers) # Original unchanged

sorted(numbers): [1, 2, 3, 5, 5, 5, 8, 9]
Original after sorted(): [5, 2, 8, 1, 9, 3, 5, 5]

In [40]:
numbers.sort() # Sorts the list in-place
print("After numbers.sort():", numbers)
print("Original", numbers)

After numbers.sort(): [1, 2, 3, 5, 5, 5, 8, 9]
Original [1, 2, 3, 5, 5, 5, 8, 9]

In [41]:
numbers.sort(reverse=True) # Sort in descending order
print("After sort(reverse=True):", numbers)

After sort(reverse=True): [9, 8, 5, 5, 5, 3, 2, 1]

In [42]:
numbers

[9, 8, 5, 5, 5, 3, 2, 1]

In [43]:
# 2. Reversing
numbers.reverse()
print("After reverse():", numbers)

After reverse(): [1, 2, 3, 5, 5, 5, 8, 9]

In [44]:
numbers

[1, 2, 3, 5, 5, 5, 8, 9]

In [45]:
# 3. Counting occurrences
count_5 = numbers.count(5)
print(f"Count of 5: {count_5}")

Count of 5: 3

In [46]:
# 4. Finding index
index_9 = numbers.index(9) # First occurrence
print(f"Index of 9: {index_9}")

Index of 9: 7

In [28]:
# 5. Copying lists (shallow copy)
original = [1, 2, [3, 4]]
copy1 = original.copy() # Shallow copy
copy2 = original[:] # Another way (slice copy)
copy3 = list(original) # Another way
print(f"Original: {original}")
print(f"Copy: {copy1}")

Original: [1, 2, [3, 4]]
Copy: [1, 2, [3, 4]]

In [29]:
# Modifying nested list affects both!
original[2][0] = 99
print(f"After modifying nested list:")
print(f"Original: {original}")
print(f"Copy: {copy1}") # Also changed!

After modifying nested list:
Original: [1, 2, [99, 4]]
Copy: [1, 2, [99, 4]]

In [30]:
# 6. min, max, sum
print(f"Min: {min(numbers)}")
print(f"Max: {max(numbers)}")
print(f"Sum: {sum(numbers)}")

Min: 1
Max: 9
Sum: 38

In [32]:
L=[1, 2, 3, 4]
L

[1, 2, 3, 4]

In [ ]:
len(L)

4

In [ ]:
min(L)

1

In [ ]:
max(L)

4

In [ ]:
sorted(L)

[1, 2, 3, 4]

In [ ]:
sorted(L, reverse = True)

[4, 3, 2, 1]

In [ ]:
L

[1, 2, 3, 4]

In [ ]:
L.sort(reverse = True)

In [ ]:
L

[4, 3, 2, 1]

In [ ]:
L.sort()

In [ ]:
# count
L = [1, 2, 1, 3, 4, 1, 5]
L.count(5)

1

In [ ]:
L

[1, 2, 3, 4]

In [ ]:
# index
L.index(3)

2

In [ ]:
# reverse
L = [2, 1, 5, 7, 0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2, 1, 5, 7, 0]
print(L)
print(sorted(L)) # New sorted list
print(L)         # Original list (unchanged)
L.sort()
print(L)         # Original list (sorted)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
# copy ---> shallow
L = [2, 1, 5, 7, 0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
1867853103360
[2, 1, 5, 7, 0]
1867853111936

In [ ]:
"hello how are you".title()

'Hello How Are You'

In [ ]:
# Title Case a String Without title()
sample = "how are you?"
sample.split()
L = []
for i in sample.split():
    L.append(i.capitalize())
print(L)
print(" ".join(L))

['How', 'Are', 'You?']
How Are You?

In [49]:
email = "arjun@gmail.com"
index=email.find("@")
print(index)
print(email[:index])
print(email[:email.find("@")])

5
arjun
arjun

### **Remove duplicate from the list**

In [50]:
L1 = [1, 1, 2, 2, 3, 3, 4, 4]
# Output: L2 = [1, 2, 3, 4]
L = []
for i in L1:
    if i not in L:
        L.append(i)
print(L)

[1, 2, 3, 4]

### **Reverse the sentence but don't reverse the word in the sentence.**


```
Example;
how are you ?

? you are how
```

In [5]:
stentence="how are you ?"
empty_string=""
list1=[]
split_list=stentence.split()
for ch in stentence.split():
    print(ch)

for ch in range(len(split_list)-1,-1,-1):
    list1.append(split_list[ch])
print(list1)
print(' '.join(list1))

how
are
you
?
['?', 'you', 'are', 'how']
? you are how

## List Comprehension

Compact list creation.

```python
newlist = [expresion for item in iterable if condition == True]
```

Example:

`squares = [x**2 for x in range(10)]` ---> squares 0-9.

**Advantages**
- *Efficient*: Time & space.
- *Concise*: Fewer lines.
- *Formulaic*: Iteration ---> expression.



```
List comprehensions provide a concise way to create lists.

# Basic list comprehension syntax:
# [expression for item in iterable if condition]
```

### **Create a list number from one to 10**

In [3]:
list1=[]
for i in range(1,11):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list_num = [x for x in range(1, 11)]
list_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# Example 1: Squares of numbers
squares = [x**2 for x in range(1, 6)]
print("Squares:", squares) # [1, 4, 9, 16, 25]

Squares: [1, 4, 9, 16, 25]

In [62]:
list1=list(range(1,11)) #[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even=[]
odd=[]
for num in list1:
    # print(num)
    if num % 2==0:
        even.append(num)
    else:
        odd.append(num)

print("original", list1)
print("even numbers", even)
print("odd numbers", odd)

original [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even numbers [2, 4, 6, 8, 10]
odd numbers [1, 3, 5, 7, 9]

In [63]:
list1=list(range(1,11))
even=[]
for num in list1:
    # print(num)
    if num % 2==0:
        even.append(num)
print(even)

[2, 4, 6, 8, 10]

In [53]:
# Example 2: Even numbers
evens = [x for x in range(1, 11) if x % 2 == 0]
print("Even numbers:", evens) # [2, 4, 6, 8, 10]

Even numbers: [2, 4, 6, 8, 10]

In [67]:
odd = [x for x in range(1, 11) if x % 2 != 0]
print("odd numbers:", odd)

odd numbers: [1, 3, 5, 7, 9]

In [64]:
list=[]
for x in range(1, 6):
    list.append(x**3)
print(list)

[1, 8, 27, 64, 125]

In [66]:
Cubes = [x**3 for x in range(1, 6)]
Cubes

[1, 8, 27, 64, 125]

In [55]:
# Example 3: Uppercase strings
fruits = ["apple", "banana", "cherry"]
uppercase_fruits = [fruit.upper() for fruit in fruits]

print("Uppercase fruits:", uppercase_fruits)

Uppercase fruits: ['APPLE', 'BANANA', 'CHERRY']

In [59]:
# Example 4: Nested comprehension (matrix)
matrix = [[i * j for i in range(1, 4)] for j in range(1, 4)]
print(f"matrix: {matrix}")
print("3x3 Multiplication table:")
for row in matrix:
  print(f"{row}")

matrix: [[1, 2, 3], [2, 4, 6], [3, 6, 9]]
3x3 Multiplication table:
[1, 2, 3]
[2, 4, 6]
[3, 6, 9]

In [10]:
# Example 4: Nested comprehension (matrix)

matrix = [[i * j for i in range(1, 4)] for j in range(1, 4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [4]:
fruits = ["apple", "abcs","banana", "cherry"]
[item for item in fruits if item.startswith("a")]

['apple', 'abcs']

### **Print the 4x4 identity matrix**

In [68]:
matrix = [[1 if i == j else 0 for i in range(5)] for j in range(5)]
print(matrix)

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

In [56]:
# Example 5: Cartesian product
list1 = [1, 2, 3]
list2 = ["a","b","c"]
cartesian = [(x, y) for x in list1 for y in list2]
print("Cartesian product:", cartesian)

Cartesian product: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [6]:
list1 = [1, 2, 3]
list2 = ["a","b","c"]
cartesian = [(x, y) for x in list1 for y in list2]
cartesian

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [57]:
# Example 6: Conditional expression
numbers = [1, 2, 3, 4, 5]
result = ["even" if x % 2 == 0 else "odd" for x in numbers]
print("Odd/even classification:", result)

Odd/even classification: ['odd', 'even', 'odd', 'even', 'odd']

In [2]:
original_list=list(range(1,21))
even=[]
odd=[]
for num in original_list:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)

print(f"original list {original_list}")
print(f"even list {even}")
print(f"odd list {odd}")

original list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
even list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7]
L

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
L1 = [item * 2 for item in L]
L1

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
L2 = [i**2 for i in range(10)]
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
L3 = [i**2 for i in range(10) if i%2!=0]
L3

[1, 9, 25, 49, 81]

In [ ]:
fruits = ['Apple', 'Orange', 'Mango', 'Guava']
fruits

['Apple', 'Orange', 'Mango', 'Guava']

In [ ]:
L4 = [fruit for fruit in fruits if fruit[0]=="O"]
L4

['Orange']

In [ ]:
# Add 1-10 to list
L = []
for i in range(1, 11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1, 11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Scalar Multiplication
v = [2, 3, 4] # Vector
s = -3        # Scalar
# [-6, -9, -12]
[s*i for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
L = [1, 2, 3, 4, 5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# Print nums divisible by 5 from 1 to 50
[i for i in range(1, 51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# Languages starting with 'p'
languages = ['java', 'python', 'php', 'c', 'javascript']
[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested If with List Comprehension
basket = ['apple', 'guava', 'cherry', 'banana']
my_fruits = ['apple', 'kiwi', 'grapes', 'banana']
# Add fruits from `my_fruits` that are in `basket` and start with 'a'
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# 3x3 Matrix via Nested List Comprehension
[[i*j for i in range(1, 4)] for j in range(1, 4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# Cartesian Products ---> List Comprehension on 2 lists together
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### **List Traversal Methods**

### List Traversal

1. **Itemwise**
2. **Indexwise**

In [6]:
numbers = [10, 20, 30, 40, 50]

# Method 1: Item-wise traversal (simplest)
print("Item-wise traversal:")
for item in numbers:
  print(f"{item}")

Item-wise traversal:
10
20
30
40
50

In [7]:
# Method 2: Index-wise traversal (when you need index)
print("Index-wise traversal:")
for i in range(len(numbers)):
  print(f"numbers[{i}] = {numbers[i]}")

Index-wise traversal:
numbers[0] = 10
numbers[1] = 20
numbers[2] = 30
numbers[3] = 40
numbers[4] = 50

### **Using enumerate**

In [9]:
# Method 3: Using enumerate (best of both)
print("Using enumerate:")
for index, value in enumerate(numbers):
  print(f"Index {index}: value {value}")

Using enumerate:
Index 0: value 10
Index 1: value 20
Index 2: value 30
Index 3: value 40
Index 4: value 50

In [1]:
list1 = ["hello", 20, 30, 40, 50]
enumerate(list1)

### **For visualisation, convert the function into the list, then we can see what inside this.**

In [2]:
list(enumerate(list1))

[(0, 'hello'), (1, 20), (2, 30), (3, 40), (4, 50)]

In [3]:
for i in enumerate(list1):
    print(i)

(0, 'hello')
(1, 20)
(2, 30)
(3, 40)
(4, 50)

In [5]:
for index, value in enumerate(list1):
    print(index,value)

0 hello
1 20
2 30
3 40
4 50

In [10]:
# Method 4: While loop traversal
print("While loop traversal:")
i = 0
while i < len(numbers):
  print(f"numbers[{i}] = {numbers[i]}")
  i += 1

While loop traversal:
numbers[0] = 10
numbers[1] = 20
numbers[2] = 30
numbers[3] = 40
numbers[4] = 50

In [11]:
numbers

[10, 20, 30, 40, 50]

In [12]:
# Method 5: Reverse traversal
print("Reverse traversal:")
for item in reversed(numbers):
  print(f"{item}")

Reverse traversal:
50
40
30
20
10

In [13]:
numbers

[10, 20, 30, 40, 50]

In [14]:
print("Reverse with index:")
for i in range(len(numbers)-1,-1,-1):
  print(f"numbers[{i}] = {numbers[i]}")

Reverse with index:
numbers[4] = 50
numbers[3] = 40
numbers[2] = 30
numbers[1] = 20
numbers[0] = 10

In [ ]:
# Itemwise
L = [1, 2, 3, 4]
for i in L:
  print(i)

1
2
3
4

In [ ]:
# Indexwise
L = [1, 2, 3, 4]
for i in range(0, len(L)):
  print(L[i])

1
2
3
4

### **Reverse or list using the for loop and while loop.**

In [9]:
# Print the number from 5 to zero using the for loop
for i in range(5,-1,-1) :
    print(i)

5
4
3
2
1
0

In [6]:
numbers = [10, 20, 30, 40, 50]
for i in range(len(numbers)-1,-1,-1) :
    print(numbers[i])

50
40
30
20
10

In [12]:
# Print the number from 0 to 5 using the while loop
i=0
while i<6:
    print(i)
    i=i+1

0
1
2
3
4
5

In [10]:
numbers = [10, 20, 30, 40, 50]
length=len(numbers)
while i<length:
    print(numbers[i])
    i=i+1

10
20
30
40
50

In [13]:
# Print the number from 5 to zero using the while loop
i=5
while i>=0:
    print(i)
    i=i-1

5
4
3
2
1
0

In [2]:
numbers = [10, 20, 30, 40, 50]
length=len(numbers)
length

5

In [3]:
numbers = [10, 20, 30, 40, 50]
length=len(numbers)
index=length-1
while index>=0:
    print(numbers[index])
    index-=1

50
40
30
20
10

## Zip

**`zip()` Function**:
- Yields zip obj: iterator of tuples.
- Combines 1st items of each iterator, then 2nd, etc.
- Example:
  ```python
  list1 = [1, 2, 3]
  list2 = ['a', 'b', 'c']
  zipped = zip(list1, list2)
  print(list(zipped))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]
  ```

**Length Mismatch**:
- Shortest iterator determines output length.

In [9]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = zip(list1, list2)
print(list(zipped))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [11]:
for item in zip(list1, list2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [6]:
# zip() combines multiple iterables
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 21]

# Basic zip usage
zipped = zip(names, scores, ages)
print("Zipped result:", list(zipped))

Zipped result: [('Alice', 85, 20), ('Bob', 92, 22), ('Charlie', 78, 21)]

In [8]:
zipped

In [12]:
for item in zip(names, scores, ages):
  print(item)

('Alice', 85, 20)
('Bob', 92, 22)
('Charlie', 78, 21)

In [13]:
for i,j,k in zip(names, scores, ages):
  print(i)

Alice
Bob
Charlie

In [14]:
for name,score,age in zip(names, scores, ages):
  print(score)

85
92
78

In [16]:
# zip() combines multiple iterables
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]
ages = [20, 22, 21]

# Practical use: Calculate weighted scores
weights = [0.3, 0.4, 0.3]
grades = ["A", "B", "C"]

for name, score, weight, grade in zip(names, scores, weights, grades):
  weighted = score * weight
  print(f"{name}: Score={score}, Weight={weight}, Weighted={weighted:.1f}, Grade={grade}")

Alice: Score=85, Weight=0.3, Weighted=25.5, Grade=A
Bob: Score=92, Weight=0.4, Weighted=36.8, Grade=B
Charlie: Score=78, Weight=0.3, Weighted=23.4, Grade=C

In [17]:
# Unzipping
pairs = [("a", 1), ("b", 2), ("c", 3)]

letters, numbers = zip(*pairs)

print(f"Letters: {letters}")
print(f"Numbers: {numbers}")

Letters: ('a', 'b', 'c')
Numbers: (1, 2, 3)

In [19]:
# Creating dictionaries with zip
student_dict = dict(zip(names, scores))
print(f"Student dictionary: {student_dict}")

Student dictionary: {'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [ ]:
# Add items of 2 lists indexwise
L1 = [1, 2, 3, 4]
L2 = [-1, -2, -3, -4]
list(zip(L1, L2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [ ]:
# Add items of 2 lists indexwise
L1 = [1, 2, 3, 4]
L2 = [-1, -2, -3, -4]
list(zip(L1, L2))
[i+j for i, j in zip(L1, L2)]

[0, 0, 0, 0]

In [ ]:
# Add items of 2 lists indexwise
L1 = [1, 2, 3, 4, 5]
L2 = [-1, -2, -3, -4]
list(zip(L1, L2))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [ ]:
L = [1, 2, print, type, input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001B2E47A53F0>>]

### Disadvantages of Python Lists

- Slow
- High memory usage

In [ ]:
a = [1, 2, 3]
b = a.copy()
print(a)
print(b)
a.append(4)
print(a)
print(b)
# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

# **Practical List Programs**

## List Programs

### **Split list into odd and even**

In [ ]:
# Split list into odd and even
L = [1, 2, 3, 4, 5, 6]

# Odd numbers
odd_numbers = [x for x in L if x % 2 != 0]

# Even numbers
even_numbers = [x for x in L if x % 2 == 0]

print("Odd numbers:", odd_numbers)
print("Even numbers:", even_numbers)

Odd numbers: [1, 3, 5]
Even numbers: [2, 4, 6]

### **List Input from User**

In [ ]:
# List Input from User

# 1. Prompt input
input_string = input("Enter the list elements separated by spaces: ")

# 2. Split string
string_list = input_string.split()

# 3. Convert to integers
integer_list = [int(item) for item in string_list]

# 4. Output
print("The input list is:", integer_list)

Enter the list elements separated by spaces: 12345
The input list is: [12345]

### **Merge 2 Lists Without + Operator**

In [20]:
# Merge 2 Lists Without + Operator
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

# 1. Using `extend()` Method
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

# Merge L2 into L1
L1.extend(L2)
print("Merged list:", L1)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
# 2. Using for Loop
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

# Merge L2 into L1 using a loop
for element in L2:
    L1.append(element)
print("Merged list:", L1)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8]

### **Replace item in list Without using the function**

In [ ]:
# Replace item in list
L = [1, 2, 3, 4, 5, 3]
# replace 3 with 300

L = [1, 2, 3, 4, 5, 3]
old_item = 3
new_item = 300
# Iterate through the list and replace old_item with new_item
for i in range(len(L)):
    if L[i] == old_item:
        L[i] = new_item
print("Updated list:", L)

Updated list: [1, 2, 300, 4, 5, 300]

### **Convert 2D to 1D List**

In [ ]:
# Convert 2D to 1D List

# Define 2D list
L2D = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Initialize 1D list
L1D = []

# Flatten 2D to 1D
for sublist in L2D:
    for item in sublist:
        L1D.append(item)
print("1D list:", L1D)

1D list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### **Remove Duplicates from List**:

In [ ]:
# Remove Duplicates from List
L = [1, 2, 1, 2, 3, 4, 5, 3, 4]

# Convert to set ---> Removes duplicates; Convert back to list.
L_unique = list(set(L))

print("List with duplicates removed:", L_unique)

List with duplicates removed: [1, 2, 3, 4, 5]

### **Remove Duplicates from List maintain the order of the element**:

In [20]:
list_1 = [1, 1, 5, 44, 1, 3, 2, 2, 3, 3, 4, 4]

new_list = []
for i in list_1:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[1, 5, 44, 3, 2, 4]

### **Check if list is ascending**

In [ ]:
# Check if list is ascending
def is_ascending(L):
    for i in range(len(L) - 1):
        if L[i] > L[i + 1]:
            return False
    return True

# Test
L1 = [1, 2, 3, 4, 5]
L2 = [1, 3, 2, 4, 5]

print("L1 is in ascending order:", is_ascending(L1))
print("L2 is in ascending order:", is_ascending(L2))

L1 is in ascending order: True
L2 is in ascending order: False

## **Remove the empty tuple from the given list**

In [9]:
print(type(()))
a=()
type(a),len(a)

<class 'tuple'>

(tuple, 0)

In [7]:
list1=[1425,54,45,(1,2,3),()]

for item in list1:
    if type(item)==type(()) and len(item)==0:
        list1.remove(item)

print(list1)

[1425, 54, 45, (1, 2, 3)]

In [14]:
list2=[1,2,4,5,6,"Hello",8.22,9,"word",True,(1,2,3),(),[12,56],()]

for item in list2:
    if type(item)==type(tuple()) and len(item)==0:
        list2.remove(item)

print(list2)

[1, 2, 4, 5, 6, 'Hello', 8.22, 9, 'word', True, (1, 2, 3), [12, 56]]

In [16]:
list2=[1,2,4,5,6,"Hello",8.22,9,"word",True,(1,2,3),(),[12,56],(),(),5,()]

for item in list2:
    if type(item)==type(()) and len(item)==0:
        list2.remove(item)

print(list2)

[1, 2, 4, 5, 6, 'Hello', 8.22, 9, 'word', True, (1, 2, 3), [12, 56], 5, ()]

In [17]:
for item in list2[:]:   # copy of list
    if type(item)==tuple and len(item)==0:
        list2.remove(item)

print(list2)

[1, 2, 4, 5, 6, 'Hello', 8.22, 9, 'word', True, (1, 2, 3), [12, 56], 5]



```
 Key Concept to Remember
 Never modify (remove/append) a list while iterating over it directly
Use:
list comprehension
copy of list
or build a new list
```

## **Take the average of the numbers present in the list**

In [18]:
list2=[1,2,4,5,6,"Hello",8.22,9,"word",True,(1,2,3),(),[12,56],(),(),5,()]

updated_list=[item for item in list2 if type(item)==type(int()) or type(item)==type(float())]

print(updated_list) #updated_list
# [1, 2, 4, 5, 6, 8.22, 9, 5]
sum_up_list=0
len_up_list=0
for i in updated_list:
    sum_up_list+=i
    len_up_list+=1


avg=sum_up_list/len_up_list
print(avg)

[1, 2, 4, 5, 6, 8.22, 9, 5]
5.0275

**By using sum and len function**

In [19]:
updated_list
avg=sum(updated_list)/len(updated_list)
print(avg)

5.0275

## **Transpose a matrix**

In [22]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [23]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Determine dimensions
rows = len(matrix)
cols = len(matrix[0])

# Initialize an empty list for the transpose
transpose = []

# Iterate through columns of the original matrix
for i in range(cols):
    new_row = []
    # Iterate through rows of the original matrix
    for j in range(rows):
        # Append the element at (j, i) to the new row
        new_row.append(matrix[j][i])
    # Add the constructed row to the transpose matrix
    transpose.append(new_row)

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## **cumulative sum of a given list return cumulative list**

In [24]:
list_1 = [1,2,3,4]
cum_sum = []
total = 0

for num in list_1:
    total += num
    cum_sum.append(total)

print(cum_sum)

[1, 3, 6, 10]

## **Flatten matrix into single list**

In [25]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Initialize an empty list to hold the flat values
flat = []

# Outer loop: iterate through each sub-list (row)
for row in matrix:
    # Inner loop: iterate through each element in the current sub-list
    for num in row:
        # Append the individual number to the flat list
        flat.append(num)

print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## **55 Identity Matrix**

In [32]:
matrix = [[1 if i == j else 0 for i in range(5)] for j in range(5)]
print(matrix)

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

In [33]:
# Initialize the outer list
matrix = []

# Outer loop (j) represents the rows
for j in range(5):
    row = []
    # Inner loop (i) represents the columns
    for i in range(5):
        # If the row index matches the column index, use 1
        if i == j:
            row.append(1)
        # Otherwise, use 0
        else:
            row.append(0)
    # Add the completed row to the matrix
    matrix.append(row)

print(matrix)

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

## **44 matrix where value = i + j**

In [31]:
matrix = [[i + j for i in range(4)] for j in range(4)]
print(matrix)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]

In [28]:
# Initialize the outer list
matrix = []

# Outer loop for 'j' (represents rows 0 to 3)
for j in range(4):
    row = []
    # Inner loop for 'i' (represents columns 0 to 3)
    for i in range(4):
        # Calculate the sum and add to the current row
        row.append(i + j)
    # Add the completed row to the matrix
    matrix.append(row)

print(matrix)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]

# **H.W**

```
Find the second largest element in a list.
Remove duplicates without using set.
Count even and odd numbers separately.
Find the maximum and minimum manually (no max/min).
Merge two lists without using +.
Find element with highest frequency.
Move all zeros to the end (maintain order).
Find intersection of two lists (without set).
Find missing number from 110 list.
Find pair with given sum.
Find longest increasing sublist length.
```



```
1. Find the Second Largest Number
Write a program to find the second largest number in a given list.

    Example: If the list is [5, 2, 8, 1, 9, 3], the second largest number is 8.

    Note: If the largest number appears multiple times, like in [10, 5, 10, 2], the second largest is 5.
```



```
2. Remove Duplicate Values
Write a program to remove all duplicate values from a list without using the set() function.

    Example: If the list is [4, 2, 4, 1, 2, 3, 1], your program should output [4, 2, 1, 3] (order may vary,
    but each number should appear only once).
```



```
3. Count Even and Odd Numbers
Write a program that counts how many even numbers and how many odd numbers are in a given list.

    Example: For the list [3, 7, 2, 8, 5, 10, 6], the output should be Even numbers: 4, Odd numbers: 3.
```



```
4. Find Maximum and Minimum Manually
Write a program to find the largest and smallest number in a list without using the built-in max() and min() functions.

    Example: For the list [23, 45, 12, 67, 34, 9], the maximum is 67 and the minimum is 9.
```



```
5. Merge Two Lists
Write a program to combine two lists into one without using the + operator.

    Example: If list1 = [1, 2, 3] and list2 = [4, 5, 6], the merged list should be [1, 2, 3, 4, 5, 6].
```



```
6. Find the Most Frequent Element
Write a program to find the element that appears most frequently in a list (the mode). If there is a tie, you can return any one of the most frequent elements.

    Example: In the list [1, 3, 2, 1, 4, 1, 3, 3], both 1 and 3 appear three times, so your program could output either 1 or 3.
```



```
7. Move Zeros to the End
Write a program that moves all the zeros in a list to the end while keeping the order of the non-zero elements the same.

    Example: If the list is [0, 1, 9, 0, 3, 0, 4], after moving zeros, it should become [1, 9, 3, 4, 0, 0, 0].
```



```
8. Find Common Elements (Intersection)
Write a program to find the common elements between two lists without using the set() function.

    Example: If list1 = [1, 2, 3, 4, 5] and list2 = [4, 5, 6, 7, 8], the common elements are [4, 5].
```



```
9. Find the Missing Number
You are given a list containing numbers from 1 to 10, but one number is missing. Write a program to find that missing number.

    Example: If the list is [1, 2, 3, 4, 6, 7, 8, 9, 10], the missing number is 5.

    Hint: The sum of numbers from 1 to 10 is 55.
```

**Advanced Level**

```
10. Find a Pair with a Given Sum
Write a program to check if there are any two numbers in a list that add up to a specific target sum. If such a pair exists,
print the pair (or "Yes"), otherwise print "No".

    Example: For the list [8, 3, 5, 2, 7] and target sum 10, the pairs (3, 7) and (8, 2) both add up to 10, so your program
    could print (3, 7) or simply say "Yes".
```



```
11. Longest Increasing Subsequence (Length only)
Write a program to find the length of the longest increasing subsequence in a list. A subsequence means the numbers don't have to be consecutive in position, but they must be in increasing order and maintain their original order in the list.

    Example 1: For the list [10, 9, 2, 5, 3, 7, 101, 18], the longest increasing subsequence is [2, 5, 7, 101] or
    [2, 3, 7, 101], which has a length of 4.

    Example 2: For the list [3, 10, 2, 1, 20], the longest increasing subsequence is [3, 10, 20] (length 3). [2, 20] is also
     valid but shorter.

    Note: This is a classic, more challenging problem.
```