<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/19_02_2026_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

Immutable list-like collection.

## Characteristics:
- Ordered elements.
- Unmodifiable post-creation.
- Allows duplicates.

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

## **1. Creating Tuples**

### 1. Create

In [1]:
# Different ways to create tuples
# 1. Empty tuple
empty_tuple = ()
empty_tuple2 = tuple()
print("Empty tuples:", empty_tuple, empty_tuple2)

Empty tuples: () ()

In [2]:
# 2. Single element tuple (note the comma!)
single1 = (42,) # Correct way
single2 = (42) # Wrong! This is just an integer
print("Single element tuple:", single1, type(single1))
print("Without comma:", single2, type(single2))

Single element tuple: (42,) <class 'tuple'>
Without comma: 42 <class 'int'>

In [3]:
# 3. Multiple elements
numbers = (1, 2, 3, 4, 5)
mixed = ("Hello", 42, 3.14, True)
print("Numbers tuple:", numbers)
print("Mixed tuple:", mixed)

Numbers tuple: (1, 2, 3, 4, 5)
Mixed tuple: ('Hello', 42, 3.14, True)

In [4]:
# 4. Nested tuples
nested = (1, 2, (3, 4), (5, (6, 7)))
print("Nested tuple:", nested)

Nested tuple: (1, 2, (3, 4), (5, (6, 7)))

In [5]:
# 5. Using tuple() constructor
from_list = tuple([1, 2, 3])
from_string = tuple("Python")
print("From list:", from_list)
print("From string:", from_string)

From list: (1, 2, 3)
From string: ('P', 'y', 't', 'h', 'o', 'n')

In [6]:
# 6. Without parentheses (tuple packing)
packed = 1, 2, 3, 4 # This creates a tuple!
print("Packed tuple:", packed, type(packed))

Packed tuple: (1, 2, 3, 4) <class 'tuple'>

In [ ]:
# empty
T1 = ()
T1,type(T1),len(T1)

((), tuple, 0)

In [ ]:
# homo
T2 = (1, 2, 3, 4, 5)
T2

(1, 2, 3, 4, 5)

In [ ]:
# hetro
T3 = ("Hello", 4, 5, 6)
T3

('Hello', 4, 5, 6)

In [ ]:
# tuple
T4 = (1, 2, 3, (4, 5))
T4

(1, 2, 3, (4, 5))

In [ ]:
single_tup=(2)
single_tup,type(single_tup)#,len(single_tup)

(2, int)

In [ ]:
single_tup=(2,)
single_tup,type(single_tup),len(single_tup)

((2,), tuple, 1)

In [ ]:
single_tup=("hello")
single_tup,type(single_tup),len(single_tup)

('hello', str, 5)

In [ ]:
single_tup=("hello",)
single_tup,type(single_tup),len(single_tup)

(('hello',), tuple, 1)

In [ ]:
T5 = (1,)
T5,type(T5)

((1,), tuple)

In [ ]:
type(T5)

tuple

In [ ]:
# Type Conversion
T5 = ("Hello")
print(T5,type(T5))

Hello <class 'str'>

In [ ]:
# Single-item tuple creation
T5 = ("Hello",)
print(T5,type(T5))

('Hello',) <class 'tuple'>

In [ ]:
T6 = tuple("Goa")
T6

('G', 'o', 'a')

In [ ]:
T6 = tuple([1,2,5,34,5,7])
T6,type(T6)

((1, 2, 5, 34, 5, 7), tuple)

In [ ]:
T6 = tuple((1,2,5,34,5,7))
T6,type(T6)

((1, 2, 5, 34, 5, 7), tuple)

In [ ]:
T6 = tuple({1, 2, 3, 4})
T6,type(T6)

((1, 2, 3, 4), tuple)

## **2. Accessing Tuple Elements**

### 2. Access

- Indexing
- Slicing

In [ ]:
T2

(1, 2, 3, 4, 5)

In [ ]:
T2[0]

1

In [ ]:
T2[-1]

5

In [ ]:
T2[:4]

(1, 2, 3, 4)

In [ ]:
T4

(1, 2, 3, (4, 5))

In [ ]:
T4[-1]

(4, 5)

In [ ]:
T4[-1][-1]

5

In [ ]:
T4[-1][1]

5

In [ ]:
T4[-1][0]

4

## **3. Tuples are Immutable**

### 3. Edit

In [ ]:
L = [1, 2, 3, 4, 5]

In [ ]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [ ]:
T2

(1, 2, 3, 4, 5)

In [ ]:
T2[0] = 100
# Immutable, like strings

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuples = immutable (like strings)

### 4. Add

In [ ]:
# not possible
# Tuples: immutable

### 5. Delete

In [ ]:
T1=(1,2,5,48)
T1,type(T1)

((1, 2, 5, 48), tuple)

In [ ]:
del T1
T1

NameError: name 'T1' is not defined

In [ ]:
T3

('Hello', 4, 5, 6)

In [ ]:
T2

(1, 2, 3, 4, 5)

In [ ]:
del T2(-1)

SyntaxError: cannot delete function call (1610192391.py, line 1)

In [ ]:
# Tuples are immutable

In [7]:
numbers = (1, 2, 3, 4, 5)
# These will all cause errors:
# numbers[0] = 10 # TypeError
# numbers.append(6) # AttributeError
# numbers.remove(3) # AttributeError
# del numbers[0] # TypeError
numbers

(1, 2, 3, 4, 5)

In [8]:
# However, you can create new tuples
new_numbers = (10,) + numbers[1:] # Create new tuple
print("Original:", numbers)
print("New tuple:", new_numbers)

Original: (1, 2, 3, 4, 5)
New tuple: (10, 2, 3, 4, 5)

In [9]:
# You can modify mutable objects inside tuples
mixed = (1, 2, [3, 4, 5])
print("Original mixed:", mixed)

mixed[2][0] = 99 # This works because list is mutable
print("After modifying list:", mixed)

Original mixed: (1, 2, [3, 4, 5])
After modifying list: (1, 2, [99, 4, 5])

## **Tuple Operations**

### 6. Operations

In [ ]:
T2

(1, 2, 3, 4, 5)

In [ ]:
T3

('Hello', 4, 5, 6)

In [ ]:
# + and *

In [ ]:
T2 + T3

(1, 2, 3, 4, 5, 'Hello', 4, 5, 6)

In [ ]:
T2 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
T2

(1, 2, 3, 4, 5)

In [ ]:
# iteration
for item in T2:
    print(item)

1
2
3
4
5

In [ ]:
# membership
1 in T2

True

In [ ]:
print(T2)
6 in T2

(1, 2, 3, 4, 5)

False

In [10]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
# 1. Concatenation
combined = tuple1 + tuple2
print("tuple1 + tuple2:", combined) # (1, 2, 3, 4, 5, 6)

tuple1 + tuple2: (1, 2, 3, 4, 5, 6)

In [11]:
# 2. Repetition
repeated = tuple1 * 3
print("tuple1 * 3:", repeated) # (1, 2, 3, 1, 2, 3, 1, 2, 3)

tuple1 * 3: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [12]:
# 3. Membership
print("2 in tuple1:", 2 in tuple1) # True
print("7 in tuple1:", 7 in tuple1) # False
print("4 not in tuple1:", 4 not in tuple1) # True

2 in tuple1: True
7 in tuple1: False
4 not in tuple1: True

In [13]:
# 4. Iteration
print("Elements in tuple1:")
for item in tuple1:
  print(f"{item}")

Elements in tuple1:
1
2
3

In [14]:
# 5. Length
print(f"Length of tuple1: {len(tuple1)}")
print(f"Length of combined: {len(combined)}")

Length of tuple1: 3
Length of combined: 6

## **Tuple Methods and Functions**

### 7. Functions

In [ ]:
len(T2)

5

In [ ]:
min("Hello")

'H'

In [ ]:
min(T2)

1

In [ ]:
max(T2)

5

In [ ]:
sum(T2)

15

In [ ]:
sum("Hello")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
sorted(T2)

[1, 2, 3, 4, 5]

In [ ]:
sorted(T2, reverse = True)

[5, 4, 3, 2, 1]

In [ ]:
# count
t = (1, 2, 3, 4, 5)
t.count(50)

0

In [ ]:
list1=[1,5,4,8,8,8,8,9,84,4]
list1.index(4)

2

In [ ]:
t

(1, 2, 3, 4, 5)

In [ ]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

In [15]:
numbers = (5, 2, 8, 1, 9, 3, 5, 5)
# 1. count()-count occurrences
count_5 = numbers.count(5)
print(f"Count of 5: {count_5}") # 3

Count of 5: 3

In [16]:
# 2. index()-find first occurrence
index_9 = numbers.index(9)
print(f"Index of 9: {index_9}") # 4
# index of 5 starting from position 2
index_5_from_2 = numbers.index(5, 2)
print(f"Index of 5 starting from position 2: {index_5_from_2}") # 6

Index of 9: 4
Index of 5 starting from position 2: 6

In [18]:
# 3. Built-in functions
print(f"Min: {min(numbers)}")
print(f"Max: {max(numbers)}")
print(f"Sum: {sum(numbers)}")
print(f"Length: {len(numbers)}")

Min: 1
Max: 9
Sum: 38
Length: 8

In [19]:
# 4. Sorting (returns new sorted list, not tuple)
sorted_list = sorted(numbers) # Returns list
sorted_tuple = tuple(sorted(numbers)) # Convert back to tuple
print(f"Sorted list: {sorted_list}")
print(f"Sorted tuple: {sorted_tuple}")

Sorted list: [1, 2, 3, 5, 5, 5, 8, 9]
Sorted tuple: (1, 2, 3, 5, 5, 5, 8, 9)

In [20]:
# 5. Any and All
bool_tuple = (True, False, True)
print(f"Any True: {any(bool_tuple)}") # True
print(f"All True: {all(bool_tuple)}") # False

Any True: True
All True: False

## Lists vs Tuples

### Syntax:
  - Lists: `[ ]`  
  - Tuples: `( )`

### Mutability:
  - Lists: Mutable  
  - Tuples: Immutable

### Speed:
  - Lists: Slower (mutable)  
  - Tuples: Faster (immutable)

### Memory:
  - Lists: Higher  
  - Tuples: Lower

### Functionality:
  - Both: Indexing, slicing  
  - Lists: More methods

### Error-Prone:
  - Lists: Modifiable  
  - Tuples: Safer

### Use Case:
  - Lists: Dynamic  
  - Tuples: Static

In [ ]:
import time
L = list(range(100000000))
T = tuple(range(100000000))

# List timing
start = time.time()
for i in L:
  i*5
end=time.time()
print('List time', end-start)

List time 5.557393312454224

In [ ]:
# Tuple timing
start = time.time()
for i in T:
  i*5
end=time.time()
print('Tuple time', end-start)

Tuple time 4.981068849563599

In [ ]:
import sys
L = list(range(1000))
T = tuple(range(1000))
print('List size', sys.getsizeof(L))
print('Tuple size', sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
a = [1, 2, 3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1, 2, 3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

## Q. Why use Tuples?

- Immutable; prevents changes.
- Ensures data integrity.
- Use for fixed collections.
- Example:
  ```python
  college_database = ('CS', 'Math', 'Physics')
  # college_database[0] = 'Electronics'  # TypeError
  ```
- Use for static data; lists for mutable.

## Special Syntax

In [ ]:
# tuple unpacking
a, b, c = (1, 2, 3)
print(a, b, c)

1 2 3

In [ ]:
a, b = (1, 2, 3)
print(a, b)

ValueError: too many values to unpack (expected 2)

In [ ]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [ ]:
a, b, *others = (1, 2, 3, 4)
print(a, b)
print(others)

1 2
[3, 4]

## **Zip**

In [ ]:
l1=list(range(1,6))
l2=list(range(5,11))
l3=list(range(11,16))
print(l1)
print(l2)
print(l3)
zip(l1,l2)
for i in zip(l1,l2):
    print(i)

[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
(1, 5)
(2, 6)
(3, 7)
(4, 8)
(5, 9)

In [ ]:
l1=list(range(1,6))
l2=list(range(5,11))
l3=list(range(11,16))
print(l1)
print(l2)
print(l3)
zip(l1,l2,l3)
for i in zip(l1,l2,l3):
    print(i)

[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
(1, 5, 11)
(2, 6, 12)
(3, 7, 13)
(4, 8, 14)
(5, 9, 15)

In [ ]:
l1=tuple(range(1,6))
l2=tuple(range(5,11))
l3=tuple(range(11,16))
print(l1)
print(l2)
print(l3)
zip(l1,l2,l3)
for i in zip(l1,l2,l3):
    print(i)

(1, 2, 3, 4, 5)
(5, 6, 7, 8, 9, 10)
(11, 12, 13, 14, 15)
(1, 5, 11)
(2, 6, 12)
(3, 7, 13)
(4, 8, 14)
(5, 9, 15)

In [ ]:
l1=tuple(range(1,6))
l2=tuple(range(5,11))
l3=tuple(range(11,16))
print(l1)
print(l2)
print(l3)
for i,j,k in zip(l1,l2,l3):
    print(i,j,k)

(1, 2, 3, 4, 5)
(5, 6, 7, 8, 9, 10)
(11, 12, 13, 14, 15)
1 5 11
2 6 12
3 7 13
4 8 14
5 9 15

## ** enumerate**

In [ ]:
names = ["Alice", "Bob", "Charlie"]
for i in enumerate(names):
    print(i)

(0, 'Alice')
(1, 'Bob')
(2, 'Charlie')

In [ ]:
names = ("Alice", "Bob", "Charlie")
for i ,j in enumerate(names):
    print(j)

Alice
Bob
Charlie

In [ ]:
names = ("Alice", "Bob", "Charlie")
for i ,j in enumerate(names):
    print(i, j)

0 Alice
1 Bob
2 Charlie

In [ ]:
# zipping tuples
a = (1, 2, 3, 4)
b = (5, 6, 7, 8)
tuple(zip(a, b))

((1, 5), (2, 6), (3, 7), (4, 8))

# **H.W**

```
Count occurrences of an element in tuple.
Convert tuple to list  remove duplicates  convert back.
Concatenate two tuples without +.
Create tuple from string and count vowels.
Find tuple with maximum sum from list of tuples.
```



```
1. Count Element Occurrences in a Tuple
Write a program to count how many times a specific element appears in a given tuple.

    Example: If the tuple is (5, 2, 8, 5, 1, 5, 3) and you want to count how many times 5 appears, the output should be 3.

    Test it with: Count how many times 2 appears in (1, 2, 3, 2, 4, 2, 5)  answer should be 3.  
  ```



```
2. Remove Duplicates from a Tuple
Write a program that removes duplicate elements from a tuple. Since tuples are immutable, you'll need to convert the tuple
 to a list, remove duplicates, and then convert it back to a tuple.

    Example: If the tuple is (4, 2, 4, 1, 2, 3, 1), after removing duplicates, the result
    should be (4, 2, 1, 3) (order may vary).
```



```
3. Concatenate Two Tuples (Without +)
Write a program to join two tuples into one without using the + operator.

    Hint: You can use tuple unpacking or create a new tuple by iterating.

    Example: If tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), the concatenated tuple should be (1, 2, 3, 4, 5, 6).
```



```
4. Create a Tuple from a String and Count Vowels
Write a program that takes a string input from the user, converts it into a tuple of characters, and
then counts how many vowels (a, e, i, o, u) are in the tuple.

    Example: If the input string is "hello world", the tuple would be ('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
     and the vowel count should be 3 (e, o, o).
```



```
5. Find the Tuple with Maximum Sum from a List of Tuples
Write a program that takes a list of tuples
(each containing numbers) and finds which tuple has the largest sum of its elements.

    Example: If the list is [(1, 2), (5, 5, 5), (3, 7, 1), (10, -2)]:

        Sum of (1, 2) = 3
        Sum of (5, 5, 5) = 15
        Sum of (3, 7, 1) = 11
        Sum of (10, -2) = 8
        The tuple with maximum sum is (5, 5, 5) with sum 15.

    Output: Either print the tuple (5, 5, 5) or print its sum 15.
```