<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/20_02_2026_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

Unordered, unique elements.

Set is mutable; elements are immutable.

**Operations:** Union, intersection, symmetric difference, etc.

## Characteristics:
- **Unordered**
- **Mutable**
- **Unique Elements**
- **No Mutable Data Types**

## Important Rules about Sets

- **No Duplicates**
- **No Indexing/Slicing**
- **No Mutable Elements**
- **Set is Mutable**

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions



```
What are Sets?
Sets are unordered collections of unique, immutable elements.
```

## **1. Creating Sets**

### 1. Create

In [ ]:
# empty
S1 = {}
S1,type(S1)

({}, dict)

In [ ]:
type(S1)

dict

In [ ]:
S1 = set()
S1, type(S1)

(set(), set)

In [ ]:
type(S1)

set

In [ ]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1
# S2 = {1, 2, 3, {4, 5}} # 2D Set
# S2

{1, 2, 3, 4, 5}

In [ ]:
S2 = {"Hello", 4.5, True}
S2

{4.5, 'Hello', True}

In [ ]:
# homo and hetro
S2 = {"Hello", 4.5, True,[1,2,5,4]}
S2

TypeError: unhashable type: 'list'

In [ ]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

{1, 2, 3}

In [ ]:
# Type Conversion
s4 = set((1, 2, 3))
print(s4)

{1, 2, 3}

In [ ]:
# duplicates not allowed
S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [ ]:
S4 = {[1, 2, 3], "Hello"}
S4

TypeError: unhashable type: 'list'

In [ ]:
S4 = {(1, 2, 3), "Hello"}
S4

{(1, 2, 3), 'Hello'}

In [ ]:
# set can't have mutable items
s6 = {1, 2, [3, 4]}
print(s6)

TypeError: unhashable type: 'list'

In [ ]:
# Sets have no indexing
# Hashing

In [ ]:
S5 = {{1}, {2}}

TypeError: unhashable type: 'set'

In [ ]:
s1 = {1, 2, 3,3}
s2 = {3, 2, 1,1,1}
print(s1 == s2)

True

In [2]:
# Different ways to create sets
# 1. Empty set (note: {} creates empty dict!)
empty_set = set()
print("Empty set:", empty_set, type(empty_set))

not_a_set = {} # This is a dictionary!
print("{} creates:", not_a_set, type(not_a_set))

Empty set: set() <class 'set'>
{} creates: {} <class 'dict'>

In [4]:
# 2. Set with elements
numbers = {1, 2, 3, 4, 5}
fruits = {"apple", "banana", "cherry"}
print("Numbers set:", numbers)
print("Fruits set:", fruits)

Numbers set: {1, 2, 3, 4, 5}
Fruits set: {'banana', 'cherry', 'apple'}

In [5]:
# 3. Duplicates are automatically removed
with_duplicates = {1, 2, 2, 3, 3, 3, 4, 4, 4, 4}
print("With duplicates:", with_duplicates) # {1, 2, 3, 4}

With duplicates: {1, 2, 3, 4}

In [6]:
# 4. Heterogeneous sets
mixed = {"hello", 42, 3.14, True, (1, 2, 3)}
print("Mixed set:", mixed)

Mixed set: {True, 3.14, 42, (1, 2, 3), 'hello'}

In [7]:
# 5. Cannot have mutable elements
# This will cause an error:
invalid_set = {[1, 2, 3], "hello"} # TypeError

TypeError: unhashable type: 'list'

In [9]:
# This is valid:
valid_set = {(1, 2, 3), "hello"}
valid_set

{(1, 2, 3), 'hello'}

In [10]:
# 6. Using set() constructor
from_list = set([1, 2, 3, 2, 1])
from_string = set("mississippi")
from_range = set(range(5))
print("\nFrom list:", from_list) # {1, 2, 3}
print("From string:", from_string) # {’m’, ’i’, ’s’, ’p’}
print("From range:", from_range) # {0, 1, 2, 3, 4}

From list: {1, 2, 3}
From string: {'i', 's', 'p', 'm'}
From range: {0, 1, 2, 3, 4}

### 2. Access

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
S1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
S1[-1]

TypeError: 'set' object is not subscriptable

In [ ]:
S1[0:3]

TypeError: 'set' object is not subscriptable

## **Modifying Sets**

### 3. Edit

In [ ]:
s1

{1, 2, 3}

In [ ]:
S1[2] = 100

TypeError: 'set' object does not support item assignment

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
id(S1)

1896607476064

In [ ]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [ ]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [ ]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [ ]:
list1=[1,5,4,4,6,8,45,8,5,86,5,4]
list2=list(set(list1))
list2

[1, 4, 5, 6, 8, 45, 86]

In [ ]:
list1=[1,5,4,4,6,8,45,8,5,86,5,4]
list2=[]
for item in list1:
    if item not in list2:
        list2.append(item)

print(list2)

[1, 5, 4, 6, 8, 45, 86]

In [ ]:
id(S1)

2325202912640

### 4. Add

In [ ]:
S1

{2, 3, 4, 5, 100}

In [ ]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [ ]:
id(S1)

2325202912640

In [ ]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

In [ ]:
id(S1)

2325202912640

In [ ]:
S1.update([5, 6, 7])
print(S1)

{2, 3, 100, 5, 4, 6, 7}

In [ ]:
id(S1)

2325202912640

### 5. Delete

- `del`
- `remove()`
- `pop()`
- `discard()`
- `clear()`

In [ ]:
S2

{4.5, 'Hello', True}

In [ ]:
del S2
S2

NameError: name 'S2' is not defined

In [ ]:
del S1[0]

TypeError: 'set' object doesn't support item deletion

In [ ]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [ ]:
S1.remove(100)
S1

{2, 3, 4, 5, 6, 7}

In [ ]:
S1.pop()
S1

{3, 4, 5, 6, 7}

In [ ]:
S1.pop()
S1

{4, 5, 6, 7}

In [ ]:
S1.discard(7)
S1

{4, 5, 6}

In [ ]:
S1.clear()
S1

set()

In [25]:
# Sets are mutable-we can add/remove elements
numbers = {1, 2, 3}
print("Original set:", numbers)

Original set: {1, 2, 3}

In [26]:
# 1. add()-add single element
numbers.add(4)
numbers.add(2) # Adding duplicate has no effect
print("After add(4) and add(2):", numbers) # {1, 2, 3, 4}

After add(4) and add(2): {1, 2, 3, 4}

In [27]:
# 2. update()-add multiple elements
numbers.update([5, 6, 7])
numbers.update({8, 9}, {10, 11})
print("After update:", numbers)

After update: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [28]:
# 3. remove()-remove element (raises KeyError if not found)
numbers.remove(5)
print("After remove(5):", numbers)

After remove(5): {1, 2, 3, 4, 6, 7, 8, 9, 10, 11}

In [29]:
# 4. discard()-remove element (no error if not found)
numbers.discard(100) # No error even though 100 not in set
print("After discard(100):", numbers)

After discard(100): {1, 2, 3, 4, 6, 7, 8, 9, 10, 11}

In [30]:
# 5. pop()-remove and return arbitrary element
popped = numbers.pop()
print(f"After pop(): {numbers}, popped: {popped}")

After pop(): {2, 3, 4, 6, 7, 8, 9, 10, 11}, popped: 1

In [31]:
# 6. clear()-remove all elements
numbers.clear()
print("After clear():", numbers) # set()

After clear(): set()

In [32]:
# 7. Copying sets
original = {1, 2, 3}
copy_set = original.copy()
original.add(4)
print(f"Original: {original}")
print(f"Copy: {copy_set}")

Original: {1, 2, 3, 4}
Copy: {1, 2, 3}

## **Set Operations (Mathematical)**

### 6. Operations

In [ ]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}

In [ ]:
S1 + S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
S1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [ ]:
# Membership Test
1 in S1

True

In [ ]:
1 not in S1

False

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [ ]:
# Union(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Intersection(&)
s1 & s2

{4, 5}

In [ ]:
# Difference(-)
s1 - s2
s2 - s1

{6, 7, 8}

In [ ]:
# Symmetric Difference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [11]:
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
print("Set A:", setA)
print("Set B:", setB)

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}

In [13]:
# 1. Union (| or union())-all elements from both sets
union_set = setA | setB
union_method = setA.union(setB)
print("Union (A | B):", union_set) # {1, 2, 3, 4, 5, 6,7, 8}
print("Union using method:", union_method)

Union (A | B): {1, 2, 3, 4, 5, 6, 7, 8}
Union using method: {1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
# 2. Intersection (& or intersection())-common elements
intersection_set = setA & setB
intersection_method = setA.intersection(setB)

print("Intersection (A & B):", intersection_set) # {4, 5}
print("Intersection using method:", intersection_method)

Intersection (A & B): {4, 5}
Intersection using method: {4, 5}

In [16]:
# 3. Difference (-or difference())-elements in A but not in B
difference_set = setA- setB
difference_method = setA.difference(setB)

print("Difference (A-B):", difference_set) # {1, 2, 3}
print("Difference using method:", difference_method)

Difference (A-B): {1, 2, 3}
Difference using method: {1, 2, 3}

In [17]:
# Reverse difference (B-A)
reverse_diff = setB- setA
print("Difference (B-A):", reverse_diff) # {6, 7, 8}

Difference (B-A): {8, 6, 7}

In [20]:
print(setA)
print(setB)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [22]:
# 4. Symmetric Difference (^ or symmetric_difference())-elements in either but not both
sym_diff_set = setA ^ setB
sym_diff_method = setA.symmetric_difference(setB)
print("Symmetric Difference (A ^ B):", sym_diff_set) # {1, 2, 3, 6, 7, 8}
print("Symmetric difference using method:", sym_diff_method)

Symmetric Difference (A ^ B): {1, 2, 3, 6, 7, 8}
Symmetric difference using method: {1, 2, 3, 6, 7, 8}

In [23]:
# 5. Subset and Superset
small_set = {2, 3}
print(f"Is {small_set} subset of {setA}? {small_set.issubset(setA)}") # True
print(f"Is {setA} superset of {small_set}? {setA.issuperset(small_set)}") # True

Is {2, 3} subset of {1, 2, 3, 4, 5}? True
Is {1, 2, 3, 4, 5} superset of {2, 3}? True

In [33]:
# 6. Disjoint sets (no common elements)
setC = {6, 7, 8}
print(f"Are {setA} and {setC} disjoint? {setA.isdisjoint(setC)}") #True

Are {1, 2, 3, 4, 5} and {8, 6, 7} disjoint? True

### 7. Functions

- `len()`
- `min()`
- `max()`
- `sorted()`

In [ ]:
len(S1)

5

In [ ]:
min(S1)

1

In [ ]:
max(S1)

5

In [ ]:
sorted(S1)

[1, 2, 3, 4, 5]

In [ ]:
sorted(S1, reverse = True)

[5, 4, 3, 2, 1]

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
S2

{3, 4, 5, 6, 7}

In [ ]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
S1.intersection(S2)

{3, 4, 5}

In [ ]:
S1.difference(S2)

{1, 2}

In [ ]:
S2.difference(S1)

{6, 7}

In [ ]:
S1.symmetric_difference(S2)

{1, 2, 6, 7}

In [ ]:
S1.isdisjoint(S2)

False

In [ ]:
S1.issubset(S2)

False

In [ ]:
S1.issuperset(S2)

False

In [ ]:
S1.clear()
S1

set()

In [ ]:
# copy
s1 = {1, 2, 3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

## **Set Membership and Operations**

In [35]:
fruits = {"apple", "banana", "cherry", "date", "elderberry"}

# 1. Membership testing (very fast in sets!)
print("'apple' in fruits:", "apple" in fruits) # True
print("'grape' in fruits:", "grape" in fruits) # False
print("'date' not in fruits:", "date" not in fruits) # False

'apple' in fruits: True
'grape' in fruits: False
'date' not in fruits: False

In [37]:
fruits = {"apple", "banana", "cherry", "date", "elderberry"}
# 2. Iteration (order is arbitrary!)
print("Iterating through set:")
for item in fruits:
  print(f"{item}")

Iterating through set:
date
cherry
elderberry
apple
banana

In [38]:
# 3. Size of set
print(f"Number of fruits: {len(fruits)}")

Number of fruits: 5

## Frozen set

- Immutable set.
- Created via `frozenset()`.
- No modifications post-creation.
- Ideal for hashable items: **strings**, **numbers**.

In [ ]:
# create frozenset
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works and what does not
# Works       ---> all read functions
# Doesn't Work ---> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1, 2, frozenset([3, 4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [39]:
# 5. Frozen sets (immutable sets)
frozen = frozenset([1, 2, 3, 4, 5])
print(f"Frozen set: {frozen}")
print(f"Type: {type(frozen)}")

Frozen set: frozenset({1, 2, 3, 4, 5})
Type: <class 'frozenset'>

In [40]:
# Frozen set operations (read-only)
frozen2 = frozenset([4, 5, 6, 7, 8])
print(f"Union of frozen sets: {frozen | frozen2}")
# frozen.add(6) # This would raise AttributeError

Union of frozen sets: frozenset({1, 2, 3, 4, 5, 6, 7, 8})

## Set Comprehension

In [41]:
# examples
{i**2 for i in range(1, 11) if i>5}

{36, 49, 64, 81, 100}

In [44]:
# 4. Set comprehension
squares = {x**2 for x in range(1, 6)}
print(f"Squares set: {squares}")

Squares set: {1, 4, 9, 16, 25}

In [43]:
# Filtered set comprehension
even_squares = {x**2 for x in range(1, 11) if x % 2 == 0}
print(f"Even squares: {even_squares}")

Even squares: {64, 100, 4, 36, 16}