<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/22_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python vs C**

| Feature     | C        | Python            |
| ----------- | -------- | ----------------- |
| Compilation | Compiled | Interpreted       |
| Typing      | Static   | Dynamic           |
| Memory      | Manual   | Automatic         |
| Syntax      | Verbose  | Simple & readable |

## print any thing in python by using print function

In [ ]:
print(7)

7

In [ ]:
print(7, 3.14, True, "Arjun")

7 3.14 True Arjun

In [ ]:
print(7, 3.14, True, "Arjun" , sep=" * ")

7 * 3.14 * True * Arjun

In [ ]:
print("Arjun")
print("Gangwar")

Arjun
Gangwar

In [ ]:
print("Arjun", end=" ")
print("Gangwar")

Arjun Gangwar

In [ ]:
a=5
b=4.0
c="Arjun"
d="Today is first class of Python programing language"
e=True

print(a,b,c,d,e)

5 4.0 Arjun Today is first class of Python programing language True

In [ ]:

print(f"valueof {a},{b},{c},{d},*&^%$#@! {e}")

valueof 5,4.0,Arjun,Today is first class of Python programing language,*&^%$#@! True

# **Data Types**

## **int**

In [ ]:
7

7

In [ ]:
type(7)

int

In [ ]:
a=45
b=2
print(a)
print(b)

45
2

## Float

In [ ]:
num1=1.71
num2=3.14
num3=1.414
print(num1)
print(num2)
print(num3)

1.71
3.14
1.414

In [ ]:
print(num1,num2,num3)

1.71 3.14 1.414

## complex

In [ ]:
print(4+5j)
type(4+5j)

(4+5j)

complex

## string

In [ ]:
st1='Arjun'
st2="Ram"
st3='''Gangwar'''
print(st1,st2,st3 ,sep="@")
print(st1,st2,st3 ,sep="%")
print(st1,st2,st3 ,sep="   ")

print(st1)
print(st2)
print(st3)
print(type(st1))
print(type(st2))
print(type(st3))

Arjun@Ram@Gangwar
Arjun%Ram%Gangwar
Arjun   Ram   Gangwar
Arjun
Ram
Gangwar
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
print(st1, end=" ")
print(st2)
print(st3)

Arjun Ram
Gangwar

In [ ]:
print(st1, end=" ")
print(st2 ,end=" ")
print(st3)

Arjun Ram Gangwar

## Boolean

In [ ]:
print(True)
print(False)
print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

## **Container Type Data Type**

## List

In [ ]:
print([1,2,3,4,5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list2=[12,3.14, "Arjun", True, 4+5j]
print(list2)
type(list2)

[12, 3.14, 'Arjun', True, (4+5j)]

list

## Tuple

In [ ]:
tup1=(1,2,3,4,5,6,7,8,9)
print(tup1)
type(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

tuple

In [ ]:
tup2=(12,3.14, "Arjun", True, 4+5j)
print(tup2)

(12, 3.14, 'Arjun', True, (4+5j))

## Set

In [ ]:
Set1={1,2,12,3,4,55,4,5,4,4,4,5}
print(type(Set1))
Set1

<class 'set'>

{1, 2, 3, 4, 5, 12, 55}

In [ ]:
set2={12,"arjun",True, "True"}
print(set2)
type(set2)

{True, 'arjun', 12, 'True'}

set

## Dictionary

In [ ]:
dict1= {"name": "Arjun", "movie": "Abc", "Age": 28}
print(dict1)
print(type(dict1))

{'name': 'Arjun', 'movie': 'Abc', 'Age': 28}
<class 'dict'>

# **How to take input from the user**

In [ ]:
# for taking the input from the user we will use input function.
Name=input("Enter your name :")
Email=input("Enter your email :")
print(Name, end= " ")
print(Email)

Enter your name :Arjun
Enter your email :arjungangwariitpkd@gmail.com
Arjun arjungangwariitpkd@gmail.com

# Take the input from the user and print the sum

In [ ]:
# taking input from the user
num1=input("")
num2=input("")

# do the sum
total=num1+num2

# Print the Sum
print(total)

2
3
23

## type conversion

In [ ]:
# taking input from the user
num1=int(input("Enter the first number :"))
num2=int(input("Enter the Second number :"))

# do the sum
total=num1+num2

# Print the Sum
print("The sum of both number is :", total)

Enter the first number :2
Enter the Second number :3
The sum of both number is : 5

# take the input from the user and return the square root of that number.

In [ ]:
num=int(input("Enter the number :"))
sqt=num**(1/2)
print("Sqt of given number is :", sqt)

Enter the number :2
Sqt of given number is : 1.4142135623730951

# The the name and Age as input from the user and print the name and Age in the same Row

# first take two numbers as input form the user and find out sqt of first one and square of second one and print the sqt of the total: