<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/24_02_2026_sets_and_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets

Unordered, unique elements.

Set is mutable; elements are immutable.

**Operations:** Union, intersection, symmetric difference, etc.

## Characteristics:
- **Unordered**
- **Mutable**
- **Unique Elements**
- **No Mutable Data Types**

## Important Rules about Sets

- **No Duplicates**
- **No Indexing/Slicing**
- **No Mutable Elements**
- **Set is Mutable**

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

### 1. Create

In [ ]:
# empty
S1 = {}
S1,type(S1)

({}, dict)

In [ ]:
type(S1)

dict

In [ ]:
S1 = set()
S1, type(S1)

(set(), set)

In [ ]:
type(S1)

set

In [ ]:
# 1D & 2D Sets
S1 = {1, 2, 3, 4, 5} # 1D Set
S1

{1, 2, 3, 4, 5}

In [ ]:
S2 = {1, 2, 3, {4, 5}} # 2D Set
S2

TypeError: unhashable type: 'set'

In [ ]:
S2 = {"Hello", 4.5, True}
S2

{4.5, 'Hello', True}

In [ ]:
# homo and hetro
S2 = {"Hello", 4.5, True,[1,2,5,4]}
S2

TypeError: unhashable type: 'list'

In [ ]:
S2 = {"Hello", 4.5, True,(1,2,5,4)}
S2

{(1, 2, 5, 4), 4.5, 'Hello', True}

In [ ]:
# Type Conversion
s4 = set([1, 2, 3])
print(s4)

{1, 2, 3}

In [ ]:
from_list = set([1, 2, 3, 2, 1])
from_list

{1, 2, 3}

In [ ]:
# Type Conversion
s4 = set((1, 2, 3))
print(s4)

{1, 2, 3}

In [ ]:
# duplicates not allowed
S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [ ]:
S4 = {[1, 2, 3], "Hello"}
S4

TypeError: unhashable type: 'list'

In [ ]:
S4 = {(1, 2, 3), "Hello"}
S4

{(1, 2, 3), 'Hello'}

In [ ]:
# set can't have mutable items
s6 = {1, 2, [3, 4]}
print(s6)

TypeError: unhashable type: 'list'

In [ ]:
# Sets have no indexing
# Hashing

In [ ]:
S5 = {{1}, {2}}

TypeError: unhashable type: 'set'

In [ ]:
s1 = {1, 2, 3,3}
s2 = {3, 2, 1,1,1}
print(s1 == s2)

True

In [ ]:
A={1,2,3}
B={1,2}
print(B.issubset(A))
print(A.issubset(B))

True
False

**check manually B is subset of A or not.**

In [ ]:
A={1,2,3,7}
B={1,3,7}

Is_subset=None
for i in B:
    if i not in A:
        Is_subset=False
        break
    else:
        Is_subset=True

if Is_subset:
    print("Subset")
else:
    print("Not a subset")

Subset

### 2. Access

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
S1[0]

TypeError: 'set' object is not subscriptable

In [ ]:
S1[-1]

TypeError: 'set' object is not subscriptable

In [ ]:
S1[0:3]

TypeError: 'set' object is not subscriptable

### 3. Edit

In [ ]:
s1

{1, 2, 3}

In [ ]:
S1[2] = 100

TypeError: 'set' object does not support item assignment

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
id(S1)

2611109630848

In [ ]:
L = list(S1)
L

[1, 2, 3, 4, 5]

In [ ]:
L[0] = 100
L

[100, 2, 3, 4, 5]

In [ ]:
S1 = set(L)
S1

{2, 3, 4, 5, 100}

In [ ]:
list1=[1,5,4,4,6,8,45,8,5,86,5,4]
list2=list(set(list1))
list2

[1, 4, 5, 6, 8, 45, 86]

In [ ]:
list1=[1,5,4,4,6,8,45,8,5,86,5,4]
list2=[]
for item in list1:
    if item not in list2:
        list2.append(item)

print(list2)

[1, 5, 4, 6, 8, 45, 86]

In [ ]:
id(S1)

2325202912640

### 4. Add

In [ ]:
S1={2, 3, 4, 5, 100}
S1

{2, 3, 4, 5, 100}

In [ ]:
id(S1)

2611124227424

In [ ]:
S1.add(6)
S1

{2, 3, 4, 5, 6, 100}

In [ ]:
id(S1)

2611124227424

In [ ]:
S1.add(7)
S1

{2, 3, 4, 5, 6, 7, 100}

In [ ]:
id(S1)

2611124227424

In [ ]:
S1

{2, 3, 4, 5, 6, 7, 100}

In [ ]:
S1.update([5, 6, 7,8])
print(S1)

{2, 3, 100, 5, 4, 6, 7, 8}

In [ ]:
id(S1)

2611124227424

In [ ]:
S1.update({8, 9})
S1

{2, 3, 4, 5, 6, 7, 8, 9, 100}

In [ ]:
S1.update({8, 9}, {10, 11})
S1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 100}

In [ ]:
S1.update("hello")
S1

{10, 100, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1.add("hello")
S1

{10, 100, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'hello', 'l', 'o'}

### 5. Delete

- `del`
- `remove()`
- `pop()`
- `discard()`
- `clear()`

In [ ]:
S2={4.5, 'Hello', True}
S2

{4.5, 'Hello', True}

In [ ]:
del S2
S2

NameError: name 'S2' is not defined

In [ ]:
S1

{10, 100, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'hello', 'l', 'o'}

In [ ]:
del S1[0]

TypeError: 'set' object doesn't support item deletion

In [ ]:
S1

{10, 100, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'hello', 'l', 'o'}

In [ ]:
S1.remove(100)
S1

{10, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'hello', 'l', 'o'}

In [ ]:
S1.remove("hello")
S1

{10, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1

{10, 11, 2, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1.pop()
S1

{10, 11, 3, 4, 5, 6, 7, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1.pop()
S1

{10, 11, 4, 5, 6, 7, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1.discard(7)
S1

{10, 11, 4, 5, 6, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1.discard("Hello")
S1

{10, 11, 4, 5, 6, 8, 9, 'e', 'h', 'l', 'o'}

In [ ]:
S1.remove("Hello")

KeyError: 'Hello'

In [ ]:
S1.clear()
S1

set()

### 6. Operations

In [ ]:
S1 = {1, 2, 3, 4, 5}
S2 = {3, 4, 5, 6, 7}
print(S1)
print(S2)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [ ]:
S1 + S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
S1 * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
# Iteration
for i in S1:
    print(i)

1
2
3
4
5

In [ ]:
# Membership Test
1 in S1

True

In [ ]:
1 not in S1

False

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
print(S1)
print(S2)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [ ]:
# Union(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
S1.intersection(S2)

{3, 4, 5}

In [ ]:
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# Intersection(&)
s1 & s2

{4, 5}

In [ ]:
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# Difference(-)
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 6, 7}

In [ ]:
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# Symmetric Difference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

### 7. Functions

- `len()`
- `min()`
- `max()`
- `sorted()`

In [ ]:
s1

{1, 2, 3, 4, 5}

In [ ]:
len(S1)

5

In [ ]:
min(S1)

1

In [ ]:
max(S1)

5

In [ ]:
sorted(S1)

[1, 2, 3, 4, 5]

In [ ]:
set(sorted(S1))

{1, 2, 3, 4, 5}

In [ ]:
sorted(S1, reverse = True)

[5, 4, 3, 2, 1]

In [ ]:
S1

{1, 2, 3, 4, 5}

In [ ]:
S2

{3, 4, 5, 6, 7}

In [ ]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
S1.intersection(S2)

{3, 4, 5}

In [ ]:
S1.difference(S2)

{1, 2}

In [ ]:
S2.difference(S1)

{6, 7}

In [ ]:
S1.symmetric_difference(S2)

{1, 2, 6, 7}

In [ ]:
print(S1)
print(S2)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [ ]:
S1.isdisjoint(S2)

False

In [ ]:
S1.issubset(S2)

False

In [ ]:
print(S1)
print(S2)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [ ]:
A={1,2,3}
B={2,3}

print(A.issuperset(B))
print(A.issubset(B))
print(B.issubset(A))

True
False
True

**check manually B is subset of A or not.**

In [ ]:
A={1,2,3}
B={1,2,3,5}
Is_subset=None

for item in A:
    if item in B:
        Is_subset=True
    else:
        Is_subset=False
        break

if Is_subset:
    print("subset")
else:
    print("Not a subset")

subset

In [ ]:
S1.issuperset(S2)

False

In [ ]:
S1.clear()
S1

set()

In [ ]:
# copy
s1 = {1, 2, 3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [106]:
# 7. Copying sets
original = {1, 2, 3}
copy_set = original.copy()
original.add(4)
print(f"Original: {original}")
print(f"Copy: {copy_set}")

Original: {1, 2, 3, 4}
Copy: {1, 2, 3}

## Frozen set

- Immutable set.
- Created via `frozenset()`.
- No modifications post-creation.
- Ideal for hashable items: **strings**, **numbers**.

In [ ]:
# create frozenset
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5])

print(fs1,type(fs1))
print(fs2,type(fs2))

frozenset({1, 2, 3}) <class 'frozenset'>
frozenset({3, 4, 5}) <class 'frozenset'>

In [ ]:
# create frozenset
fs1 = frozenset([1, 2, 3])
fs2 = frozenset([3, 4, 5])
fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
# 5. Frozen sets (immutable sets)
frozen = frozenset([1, 2, 3, 4, 5])

print(f"Frozen set: {frozen}")
print(f"Type: {type(frozen)}")

Frozen set: frozenset({1, 2, 3, 4, 5})
Type: <class 'frozenset'>

In [ ]:
# Frozen set operations (read-only)
frozen2 = frozenset([4, 5, 6, 7, 8])
print(f"Union of frozen sets: {frozen | frozen2}")

Union of frozen sets: frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [ ]:
frozen.add(6) # This would raise AttributeError

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# what works and what does not
# Works       ---> all read functions
# Doesn't Work ---> write operations

In [ ]:
# frozenset 2D sets
fs = frozenset([1, 2, frozenset([3, 4])])
fs

frozenset({1, 2, frozenset({3, 4})})

## Set Comprehension

In [ ]:
# examples
{i for i in range(1, 11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# examples
{i**2 for i in range(1, 11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [ ]:
{i**2 for i in range(1, 11) if i>5}

{36, 49, 64, 81, 100}

In [ ]:
# Filtered set comprehension
# Set of the Square of the even numbers in the range of 1 to 10
even_squares = {x**2 for x in range(1, 11) if x % 2 == 0}
print(f"Even squares: {even_squares}")

Even squares: {64, 100, 4, 36, 16}

# Dictionary

- **Key-Value Pairs**: Data mapping.
- **Aliases**: Map, associative array.

```python
dict = { 'name': 'Arjun', 'age': 28, 'gender': 'male' }
```

## Traits:
- *Mutable*
- *No indexing*
- *Unique keys*
- *Immutable keys*

```
{"Name":"Saurabh", "Gender":"Male"}
type({"Name":"Saurabh", "Gender":"Male"})
Dict1={"Name":"Saurabh", "Gender":"Male"}
print(Dict1,type(Dict1))
```
## 4 Key Rules About Dictionaries

1. **No Indexing**: No index support.
2. **Mutable**: Can modify post-creation.
3. **Keys**: Immutable (str, num, tuple); **Values**: Any type.
4. **Unique Keys**: Keys must be unique; overwrite on reassignment.
# Mutable Types   ---> Lists, Sets, Dicts

# Immutable Types ---> Str, Tuples, Int, Float, Bool, Complex
1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

### 1. Create

In [110]:
# empty dictionary
D = {}
D,type(D),len(D)

({}, dict, 0)

In [ ]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
print(D)
print(D.keys())
print(D.values())
print(D.items())

{'Name': 'Saurabh', 'Gender': 'Male'}
dict_keys(['Name', 'Gender'])
dict_values(['Saurabh', 'Male'])
dict_items([('Name', 'Saurabh'), ('Gender', 'Male')])

In [ ]:
D1 = {[1, 2, 3]:"Saurabh"}

TypeError: unhashable type: 'list'

In [ ]:
# with mixed keys
D1 = {(1, 2, 3):"Saurabh"}
print(D1)
print(D1.keys())
print(D1.values())

{(1, 2, 3): 'Saurabh'}
dict_keys([(1, 2, 3)])
dict_values(['Saurabh'])

In [ ]:
# duplicate keys
D2 = {"Name":"Natty", "Name":"Arjun","Name":[1,23,5,4]}
D2

{'Name': [1, 23, 5, 4]}

In [ ]:
D3 = {"Name":"Arjun", "College":"SAI", "Marks":{"M1":99, "DS":97, "Eng":98}}
print(D3)
print(D3.keys())
print(D3.values())
print(D3.items())

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}
dict_keys(['Name', 'College', 'Marks'])
dict_values(['Arjun', 'SAI', {'M1': 99, 'DS': 97, 'Eng': 98}])
dict_items([('Name', 'Arjun'), ('College', 'SAI'), ('Marks', {'M1': 99, 'DS': 97, 'Eng': 98})])

In [ ]:
# Run loop
for i in D3.items():
    print(i)

('Name', 'Arjun')
('College', 'SAI')
('Marks', {'M1': 99, 'DS': 97, 'Eng': 98})

In [ ]:
# Run loop
for i in D3: #return keys
    print(i)

Name
College
Marks

In [ ]:
for key,value in D3.items():
    print(key,value)

Name Arjun
College SAI
Marks {'M1': 99, 'DS': 97, 'Eng': 98}

In [ ]:
# 2D dictionary ---> JSON
Dict_2d = {
    'name':'Arjun',
     'college':'MIT',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34 }}

Dict_2d

{'name': 'Arjun',
 'college': 'MIT',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [107]:
# 2. Simple dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}
print("Person:", person)

Person: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [108]:
# 3. Dictionary with different key types
mixed_keys = {"name": "Bob", 42: "answer", 3.14: "pi", (1, 2): "tuplekey"}
print("Mixed keys:", mixed_keys)

Mixed keys: {'name': 'Bob', 42: 'answer', 3.14: 'pi', (1, 2): 'tuplekey'}

In [109]:
# 4. Nested dictionary (2D)
student = {
"name": "John",
"grades": {"math": 90, "science": 85, "english": 92},
"contact": {"email": "john@example.com", "phone": "123-456-7890"}
}
print("Student:", student)

Student: {'name': 'John', 'grades': {'math': 90, 'science': 85, 'english': 92}, 'contact': {'email': 'john@example.com', 'phone': '123-456-7890'}}

In [ ]:
Dict1={}
Dict1

{}

In [ ]:
Dict1["A"]=1
Dict1

{'A': 1}

In [ ]:
Dict1["A"]=2
Dict1

{'A': 2}

## **Count the character in the word or sentence**

In [ ]:
Word="sliceeliss"
dict2={}
for i in Word:
    if i in dict2:
        dict2[i]+=1
    else:
        dict2[i]=1

dict2

{'s': 3, 'l': 2, 'i': 2, 'c': 1, 'e': 2}

In [ ]:
dict2.items()

dict_items([('s', 3), ('l', 2), ('i', 2), ('c', 1), ('e', 2)])

In [ ]:
for key,value in dict2.items():
    print(f"char: {key} is coming, {value} times")

char: s is coming, 3 times
char: l is coming, 2 times
char: i is coming, 2 times
char: c is coming, 1 times
char: e is coming, 2 times

In [119]:
# By using nested for loop with if condition
word = "sliceeliss"

for ch in word:
    count = 0
    for i in word:
        if i == ch:
            count += 1
    print(f"Word: {ch} and their count: {count}")

Word: s and their count: 3
Word: l and their count: 2
Word: i and their count: 2
Word: c and their count: 1
Word: e and their count: 2
Word: e and their count: 2
Word: l and their count: 2
Word: i and their count: 2
Word: s and their count: 3
Word: s and their count: 3

In [121]:
# Removing duplicate by using list
word = "sliceeliss"
seen = []

for ch in word:
    if ch not in seen:        # ensure it runs only first time
        count = 0
        for i in word:
            if i == ch:
                count += 1
        print(f"Word: {ch} and their count: {count}")
        seen.append(ch)       # store processed character

Word: s and their count: 3
Word: l and their count: 2
Word: i and their count: 2
Word: c and their count: 1
Word: e and their count: 2

In [122]:
# Removing duplicate by using set
word = "sliceeliss"
seen = set()

for ch in word:
    if ch not in seen:
        count = 0
        for i in word:
            if i == ch:
                count += 1
        print(f"Word: {ch} and their count: {count}")
        seen.add(ch)

Word: s and their count: 3
Word: l and their count: 2
Word: i and their count: 2
Word: c and their count: 1
Word: e and their count: 2

In [127]:
# Removing duplicate by using dict
word = "sliceeliss"
freq = {}

for ch in word:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

for ch, count in freq.items():
    print(f"Word: {ch} and their count: {count}")

Word: s and their count: 3
Word: l and their count: 2
Word: i and their count: 2
Word: c and their count: 1
Word: e and their count: 2

In [123]:
word = "sliceeliss"
print(set(word))

{'l', 'c', 'i', 's', 'e'}

In [125]:
print(word.count("i"))
print(word.count("s"))

2
3

In [126]:
# One-Liner
word = "sliceeliss"

for ch in set(word):
    print(f"Word: {ch} and their count: {word.count(ch)}")

Word: l and their count: 2
Word: c and their count: 1
Word: i and their count: 2
Word: s and their count: 3
Word: e and their count: 2

In [ ]:
# mutable items as keys
D4 = {'name':'Arjun', (1, 2, 3):2}
print(D4)
D4.keys()

{'name': 'Arjun', (1, 2, 3): 2}

dict_keys(['name', (1, 2, 3)])

In [ ]:
D4[(1, 2, 3)] # fetch value by key

2

In [ ]:
# using sequence and dict function
D5 = dict([('name', 'Arjun'), ('age', 28), ("subject", "Programming in python")])
D5

{'name': 'Arjun', 'age': 28, 'subject': 'Programming in python'}

In [113]:
# 5. Using dict() constructor
dict_from_list = dict([("name", "Charlie"), ("age", 30), ("city", "Boston")])
dict_from_kwargs = dict(name="David", age=35, city="Chicago")
print("From list of tuples:", dict_from_list ,dict_from_list.keys(), dict_from_list.values())
print("From keyword arguments:", dict_from_kwargs, dict_from_kwargs.keys(), dict_from_kwargs.values())

From list of tuples: {'name': 'Charlie', 'age': 30, 'city': 'Boston'} dict_keys(['name', 'age', 'city']) dict_values(['Charlie', 30, 'Boston'])
From keyword arguments: {'name': 'David', 'age': 35, 'city': 'Chicago'} dict_keys(['name', 'age', 'city']) dict_values(['David', 35, 'Chicago'])

In [111]:
# 7. Duplicate keys (last one wins)
duplicate_keys = {"name": "First", "name": "Second", "name": "Third"}
print("Duplicate keys:", duplicate_keys) # {name: Third}

Duplicate keys: {'name': 'Third'}

### 2. Access

In [ ]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
print(D)

{'Name': 'Saurabh', 'Gender': 'Male'}

In [ ]:
# by index
D[0]

KeyError: 0

In [ ]:
print(D)

{'Name': 'Saurabh', 'Gender': 'Male'}

In [ ]:
# By keys
D["Name"]

'Saurabh'

In [ ]:
D["Gender"]

'Male'

In [ ]:
print(D.get("Name"))
print(D.get("Gender"))

Saurabh
Male

In [ ]:
print(D3)

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [ ]:
D3.get("Marks")

{'M1': 99, 'DS': 97, 'Eng': 98}

In [ ]:
# .get() ---> 1-D dicts only; Not for 2-D/nested dicts.
D3["Marks"]["DS"]

97

### 3. Edit

In [ ]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [ ]:
D["Name"] = "Kartik"
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [ ]:
print(D3)
D3["Marks"]["DS"] = 10
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

### 4. Add

In [ ]:
print(D)
D["Age"] = 22
D

{'Name': 'Kartik', 'Gender': 'Male'}

{'Name': 'Kartik', 'Gender': 'Male', 'Age': 22}

In [ ]:
print(D3)
D3["Marks"]["M2"] = 95
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

### 5. Delete

In [58]:
D5 = {}
D5

{}

In [59]:
del D5
D5

NameError: name 'D5' is not defined

In [60]:
print(D)
D.pop('Name')
D

{'Name': 'Kartik', 'Gender': 'Male', 'Age': 22}

{'Gender': 'Male', 'Age': 22}

In [61]:
D.popitem()
D

{'Gender': 'Male'}

In [62]:
del D["Gender"]
D

{}

In [63]:
D.clear()
D

{}

### 6. Operations

In [65]:
print(D3)
print(D4)

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}
{'name': 'Arjun', (1, 2, 3): 2}

In [66]:
print(D3 + D4)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [67]:
print(D3 * 3)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [68]:
print(D3)

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [69]:
# Iteration
for i in D3:
    print(i)

Name
College
Marks

In [70]:
for i in D3:
    print(i, D3[i])

Name Arjun
College SAI
Marks {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}

In [72]:
print(D3)
# Membership
"Saurabh" in  D3  # checking keys only

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

False

In [73]:
"Name" in  D3

True

In [75]:
"Arjun" in  D3 # Not checking values

False

In [115]:
# 4. Dictionary views (dynamic)
person = {"name": "Bob", "age": 30, "city": "Boston"}
keys_view = person.keys()
values_view = person.values()
items_view = person.items()

In [116]:
print(f"Original: {person}")
print(f"Keys view: {keys_view}")
print(f"Values view: {values_view}")
print(f"Items view: {items_view}")

Original: {'name': 'Bob', 'age': 30, 'city': 'Boston'}
Keys view: dict_keys(['name', 'age', 'city'])
Values view: dict_values(['Bob', 30, 'Boston'])
Items view: dict_items([('name', 'Bob'), ('age', 30), ('city', 'Boston')])

In [117]:
# Views are dynamic
person["job"] = "Engineer"
print(f"After adding job:")
print(f"Keys view: {keys_view}")
print(f"Values view: {values_view}")

After adding job:
Keys view: dict_keys(['name', 'age', 'city', 'job'])
Values view: dict_values(['Bob', 30, 'Boston', 'Engineer'])

### 7. Functions

In [76]:
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [78]:
print(D3)

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [79]:
print(len(D3))
print(min(D3))
print(max(D3))

3
College
Name

In [80]:
print(D3)
sorted(D3)
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [81]:
sorted(D3, reverse = True)
print(D3)

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [83]:
print(D3.items()) # tuple of key value pair
print(D3.keys()) # give only keys, keys are unique
print(D3.values()) # give only values

dict_items([('Name', 'Arjun'), ('College', 'SAI'), ('Marks', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95})])
dict_keys(['Name', 'College', 'Marks'])
dict_values(['Arjun', 'SAI', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}])

# update

In [86]:
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8}
print(d1, d1.keys(), d1.values())
print(d2, d2.keys(), d2.values())

{1: 2, 3: 4, 4: 5} dict_keys([1, 3, 4]) dict_values([2, 4, 5])
{4: 7, 6: 8} dict_keys([4, 6]) dict_values([7, 8])

In [87]:
d1.update(d2)
print(d1)
print(d1, d1.keys(), d1.values())

{1: 2, 3: 4, 4: 7, 6: 8}
{1: 2, 3: 4, 4: 7, 6: 8} dict_keys([1, 3, 4, 6]) dict_values([2, 4, 7, 8])

## Dictionary Comprehension

```python
{key : value for var in iterable}
```

Creates dicts from iterables.

**Example:**

`squares_dict = {x: x**2 for x in range(5)}`

Maps numbers to squares.

Supports conditions & expressions.

In [88]:
D = {"Name":"Arjun", "Gender":"Male", "Age":28}
print(D)
print(D.items())

{'Name': 'Arjun', 'Gender': 'Male', 'Age': 28}
dict_items([('Name', 'Arjun'), ('Gender', 'Male'), ('Age', 28)])

In [89]:
D1 = {key:value for key, value in D.items() if len(key)>3}
print(D1)

{'Name': 'Arjun', 'Gender': 'Male'}

In [92]:
L = [1, 2, 3, 4, 5, 6, 7]
D2 = {item : item**2 for item in L} # first becomes keys : second becomes values
D2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [93]:
D2 = {item : item**2 for item in L if item%2 == 0} # first becomes keys : second becomes values
D2

{2: 4, 4: 16, 6: 36}

In [95]:
# Print 1st 10 nums & squares
{i:i**2 for i in range(1, 11)} # first becomes keys : second becomes values

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [96]:
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [97]:
# using existing dict
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
{key:value*0.6 for (key, value) in distances.items()}

{'delhi': 600.0, 'mumbai': 1200.0, 'bangalore': 1800.0}

# using zip

In [98]:
# using zip
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]
{i:j for (i, j) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [99]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key:value for (key, value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

# Nested Comprehension

In [103]:
# Nested Comprehension
# Print multiplication tables for 2 to 4
Dict1={i:{i*j for j in range(1, 11)} for i in range(2, 5)}
print(Dict1)
print(Dict1.keys())
print(Dict1.values())

{2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}, 3: {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}, 4: {32, 4, 36, 8, 40, 12, 16, 20, 24, 28}}
dict_keys([2, 3, 4])
dict_values([{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}, {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}, {32, 4, 36, 8, 40, 12, 16, 20, 24, 28}])

In [104]:
# Nested Comprehension
# Print multiplication tables for 2 to 4
Dict2={i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}
print(Dict2)
print(Dict2.keys())
print(Dict2.values())

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30}, 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}
dict_keys([2, 3, 4])
dict_values([{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}, {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30}, {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}])

In [105]:
Dict3={
  2:{1:2, 2:4, 3:6, 4:8},
  3:{1:3, 2:6, 3:9, 4:12},
  4:{1:4, 2:8, 3:12, 4:16}}

print(Dict3)
print(Dict3.keys())
print(Dict3.values())

{2: {1: 2, 2: 4, 3: 6, 4: 8}, 3: {1: 3, 2: 6, 3: 9, 4: 12}, 4: {1: 4, 2: 8, 3: 12, 4: 16}}
dict_keys([2, 3, 4])
dict_values([{1: 2, 2: 4, 3: 6, 4: 8}, {1: 3, 2: 6, 3: 9, 4: 12}, {1: 4, 2: 8, 3: 12, 4: 16}])

In [129]:
# Bank ATM Simulation-Menu Driven Program
print("WELCOME TO PYTHON BANK ATM")
print("=" * 40)
# Display menu
menu = input("""
Please select an option:
1. Change PIN
2. Check Balance
3. Withdraw Money
4. Deposit Money
5. Exit
Enter your choice (1-5): """)
# Process user choice
if menu == '1':
    print("\nPIN Change Selected")
    print("Please visit the bank branch for PIN change.")
elif menu == '2':
    print("\nBalance Check Selected")
    balance = 5000 # Sample balance
    print(f"Your current balance is: {balance}")
elif menu == '3':
    print("\nWithdrawal Selected")
    amount = float(input("Enter amount to withdraw: "))
    balance = 5000
    if amount <= balance:
        balance-= amount
        print(f"{amount} withdrawn successfully.")
        print(f"Remaining balance:{balance}")
    else:
        print("Insufficient funds!")
elif menu == '4':
    print("\nDeposit Selected")
    amount = float(input("Enter amount to deposit: "))
    balance = 5000
    balance += amount
    print(f"{amount} deposited successfully.")
    print(f"New balance:{balance}")
elif menu == '5':
    print("\nThank you for using Python Bank ATM!")
    print("Please take your card. Have a nice day!")
else:
    print("\nInvalid choice! Please select 1-5 only.")

WELCOME TO PYTHON BANK ATM
========================================

Please select an option:
1. Change PIN
2. Check Balance
3. Withdraw Money
4. Deposit Money
5. Exit
Enter your choice (1-5): 1

PIN Change Selected
Please visit the bank branch for PIN change.