<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section2/blob/main/27_02_2026_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem:** ðŸ”¹**find the character count in the sentence/word**

In [ ]:
word="silertiewnewinrer"
temp=""
for ch in word:
    if ch not in temp:
        temp+=ch
        print(f"ch {ch} their count {word.count(ch)}")

ch s their count 1
ch i their count 3
ch l their count 1
ch e their count 4
ch r their count 3
ch t their count 1
ch w their count 2
ch n their count 2

In [ ]:
word="silertiewnewinrer"
temp=list()
for ch in word:
    if ch not in temp:
        temp.append(ch)
        print(f"ch {ch} their count {word.count(ch)}")

ch s their count 1
ch i their count 3
ch l their count 1
ch e their count 4
ch r their count 3
ch t their count 1
ch w their count 2
ch n their count 2

# **Problem:** **Sum of Even and Odd Numbers Separately**
```
  Input N numbers from the user and print the sum of even numbers and sum of odd numbers separately.

In [ ]:
user_input=input("enter the number seperated by comma: ").split(sep=",")
# user_input="1,2,3,4,5,10,11,12,15,6".split(sep=",")

even_sum=0
odd_sum=0
for i in user_input:
    # even
    if int(i)%2==0:
        even_sum+=int(i)
    # odd
    else:
        odd_sum+=int(i)

print(f"even sum is {even_sum} and odd sum is {odd_sum}")

enter the number seperated by comma: 1,2,3,4,5,10,11,12,15,6
even sum is 34 and odd sum is 35

**Here in the below code there is a major error: error in this code it`s not handling the two digit number so sepration of number is needed.**

In [ ]:
user_input=input("enter the number: ")

# user_input="12345678910"
even_sum=0
odd_sum=0
for i in user_input:
    # even
    if int(i)%2==0:
        even_sum+=int(i)
    # odd
    else:
        odd_sum+=int(i)


print(f"even sum is {even_sum} and odd sum is {odd_sum}")

enter the number: 12345678910
even sum is 20 and odd sum is 26

# **Problem:** **Take the input from the user and convert into the list of integer.**

In [1]:
# user_input=input("enter the number seperated by comma ,: ")
user_input="1,2,3,4,5,10,11,12,15,6".split(sep=",")
user_input

['1', '2', '3', '4', '5', '10', '11', '12', '15', '6']

In [2]:
user_input=[int(i) for i in user_input]
user_input

[1, 2, 3, 4, 5, 10, 11, 12, 15, 6]

In [8]:
list1=input("enter the number seperated by the comma: ").split(sep=",")
list1=[int(i) for i in list1]

sum_even=0
sum_odd=0

for i in list1:
    if i%2==0:
        sum_even+=i
    else:
        sum_odd+=i

print(f"sum of even num is {sum_even} and odd sum is {sum_odd}")

enter the number seperated by the comma: 1,2,55,4,45,5,11,23,3
sum of even num is 6 and odd sum is 143

# **Problem: Pangram Check**
```
Note: A pangram contains all 26 letters of English alphabet.

In [ ]:
sentence="The quick brown fox jumps over the lazy dog"
temp=""
for ch in sentence:
    if "a"<=ch<="z" or "A"<=ch<="z":
        if ch not in temp:
            temp+=ch.lower() # convert either in upper or lower case

print(temp)

if len(temp)==26:
    print("Pangram")
else:
    print("not pangram")

thequickbrownfxjmpsvlazydg
Pangram

# **Problem: Number Guessing Game**

ðŸ‘Š **Create a number guessing game where computer chooses a random number and user guesses until correct. Show number of attempts.**

In [ ]:
import random
comp_num=random.randint(1,100)
# comp_num=12
user_num=int(input("Enter the number for winning the 1 crore: "))
count=0
while comp_num !=user_num:
    if comp_num>user_num:
        print("Wrong answer guess heigher")
    elif comp_num<user_num:
        print("Wrong answer guess lower")
    user_num=int(input("Enter again: "))
    count+=1
print("wow right choice you won 1 crore.")
print(f"correct number was {comp_num} and your choice is {user_num}")
print(f"you took {count} attempts")
print("Take it for them who is giving i don`t have that much amount.")

Enter the number for winning the 1 crore: 45
Wrong answer guess heigher
Enter again: 87
Wrong answer guess lower
Enter again: 67
Wrong answer guess lower
Enter again: 56
Wrong answer guess heigher
Enter again: 60
Wrong answer guess heigher
Enter again: 62
Wrong answer guess heigher
Enter again: 64
Wrong answer guess heigher
Enter again: 65
Wrong answer guess heigher
Enter again: 66
wow right choice you won 1 crore.
correct number was 66 and your choice is 66
you took 8 attempts
Take it for them who is giving i don`t have that much amount.

# **What are Functions?**

Block of code for specific tasks.

## **Black Box Concept:**

Ignore internal code; focus on inputs/outputs.

## **Advantages:**
- Reusability
- Avoids repetition

# Components of a Function
```
def function_name(parameters):
    """docstring"""
    statement(s)

`def`       ---> Function start.
Name        ---> Function identifier.
Params      ---> Input values.
Colon (`:`) ---> Ends header.
Docstring   ---> Function description.
Body        ---> Statements.
`return`    ---> Output value (optional).

function_name(values)

## **Let's create functions**

In [ ]:
num=26
if num%2==0:
  print("Even number")
else:
  print("Odd number")

Even number

# **Problem:** **Create a function which tell number is even or not**

### **Define a function with one Parameters taking one positional argument**

In [3]:
def Even_Odd(num):
  if num%2==0:
    print("Even number")
  else:
    print("Odd number")

In [51]:
# Instead of printing return is the good Practice or technique
def Odd_Even(num):
  if num%2==0:
    return "Even number"
  else:
    return "Odd number"

**Calling the function by their name for using them.**

In [5]:
Even_Odd(5)

Odd number

In [6]:
for i in range(1, 5):
    print(Even_Odd(i)) # Here you can see return is none because if you are not returning anything why default function return none.

Odd number
None
Even number
None
Odd number
None
Even number
None

In [7]:
for i in range(1, 5):
    print(Odd_Even(i))

Odd number
Even number
Odd number
Even number

**Now we can use function by their name any where for example here we are using Inside the loop**

In [ ]:
for i in range(1, 11):
    print(Even_Odd(i))

Odd number
None
Even number
None
Odd number
None
Even number
None
Odd number
None
Even number
None
Odd number
None
Even number
None
Odd number
None
Even number
None

# **important**
```
If you are not returning any value then function return **none** so avoid this return **something**

In [ ]:
def Even_Odd(num):
  if num%2==0:
    return ("Even number")
  else:
    return ("Odd number")

In [ ]:
for i in range(1, 11):
    print(f"numbe {i} is {Even_Odd(i)}")

numbe 1 is Odd number
numbe 2 is Even number
numbe 3 is Odd number
numbe 4 is Even number
numbe 5 is Odd number
numbe 6 is Even number
numbe 7 is Odd number
numbe 8 is Even number
numbe 9 is Odd number
numbe 10 is Even number

In [52]:
# Instead of printing return is the good Practice or technique
def Odd_Even(num):
  if num%2==0:
    print("Even number")
  else:
    print("Odd number")

In [53]:
for i in range(1, 4):
    print(f"numbe {i} is {Odd_Even(i)}")

Odd number
numbe 1 is None
Even number
numbe 2 is None
Odd number
numbe 3 is None

### **Define a function with two Parameters and taking two positional argument**

In [10]:
def Sum_of_num(num1,num2):
  print(num1+num2)

In [11]:
def Sum_of_num2(num1,num2):
  return num1+num2

### **Calling the function by their name And passing the positional arguments**

In [12]:
Sum_of_num(2,3)

5

In [13]:
Sum_of_num2(2,3)

5

### **Calling the function by their name And passing the positional Parameters by their name**
```
Basically argument is the value of the parameters.

In [ ]:
Sum_of_num(num2=2,num1=3)

5

**Here function expecting two positional argument**

In [ ]:
Sum_of_num(2)

TypeError: Sum_of_num() missing 1 required positional argument: 'num2'

### **Set the original argument by default as needed when we are defining the function for removing the error.**

In [ ]:
def Sum_of_num(num1=0,num2=0):
  print(num1+num2)

In [ ]:
Sum_of_num(2)

2

# **Problem:** **Define a function which take two number as the input and return the power of Number one over number two.**

In [ ]:
def power_of_num(num1,num2):
  print(num1**num2)

In [ ]:
power_of_num(2,3)

8

In [ ]:
power_of_num(3,2)

9

In [ ]:
power_of_num(num2=3, num1=2)

8

# **Problem:** **Write a programme to convert user input in a list of integer**

In [ ]:
user_input=input("Enter the num seperated by comma: ").split(sep=",")
user_input=[int(i) for i in user_input]
user_input,type(user_input),type(user_input[0])

Enter the num seperated by comma: 1,2,3,55,1,6,66,8,96,45,4

([1, 2, 3, 55, 1, 6, 66, 8, 96, 45, 4], list, int)

In [ ]:
sum=0
for i in user_input:
  sum+=i
print(f"Sum of the element of list is {sum}")

Sum of the element of list is 287

# **Problem:** **Define a function Which take list as input from the user and return the sum of the list of integer**.

### **Define a function with one Parameters taking one positional argument**

In [ ]:
def list_sum(list1):
  list1=input("Enter the num seperated by comma: ").split(sep=",")
  list1=[int(i) for i in list1]
  sum=0
  for i in list1:
    sum+=i
  print(f"Sum of the element of list is {sum}")

### **Calling the function via their name for using**

In [ ]:
list_sum("list")

Enter the num seperated by comma: 1, 2, 3, 55, 1, 6, 66, 8, 96, 45, 4
Sum of the element of list is 287

### **Define a function without Parameters ,not taking any positional argument**

In [ ]:
def list_sum():
  list1=input("Enter the num seperated by comma: ").split(sep=",")
  list1=[int(i) for i in list1]
  sum=0
  for i in list1:
    sum+=i
  print(f"Sum of the element of list is {sum}")

### **Calling the function via their name for using**

In [ ]:
list_sum()

Enter the num seperated by comma: 1, 2, 3, 55, 1, 6, 66, 8, 96, 45, 4
Sum of the element of list is 287

## Parameters Vs Arguments

### Parameters:
- Vars in `()` during func definition..
- Defined in func declaration.
  
```python
def func(param1, param2):
    # Body
```
  
### Arguments:
- Values passed at func call.
- Inputs during function invocation.
  
```python
func(arg1, arg2)
```

*1. Default Argument*

*2. Positional Argument*

*3. Keyword Argument*

*4. Arbitrary Argument (`*args`)*

In [ ]:
def power(a, b):
    return a**b

In [ ]:
power(2, 3)

8

In [ ]:
power(3, 2)

9

In [ ]:
power(3)

TypeError: power() missing 1 required positional argument: 'b'

In [ ]:
power()

TypeError: power() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
# Default Argument: Function arguments with default values.
def power(a=1, b=1):
    return a**b

In [ ]:
power(2,3)

8

In [ ]:
power(2)

2

In [ ]:
power()

1

In [ ]:
# Positional Arguments: Values assigned by call order.
power(2, 3)

8

In [ ]:
power(b=2, a=3)

9

In [18]:
def sum (a=0,b=1):
    return a+b

In [19]:
sum(2,3)

5

In [20]:
sum(2)

3

In [21]:
sum(3)

4

In [39]:
def Cube(num1,num2):

    return num1**3,num2**3

In [40]:
Cube(2,3)

(8, 27)

In [41]:
def square_list(num):
    list2=[item**2 for item in num]
    return list2

In [42]:
square_list([1,2,3,4])

[1, 4, 9, 16]

In [43]:
def list_square(list1):
      return [i**2 for i in list1]

In [44]:
list_square([1,2,3,4,5])

[1, 4, 9, 16, 25]



```
# ðŸ”¹ Keyword Argument: Values assigned to args by name at call time.

# ðŸ”¹ NOTE: *Keyword args* will Overrides *Positional args*.

# ðŸ”¹ Priority ---> Keyword args > Positional args.
```

# **Problem:** **Create a function which take number separated by the comma and return you the sum of even digit and the sum of odd digits.**

In [33]:
def list_sum(list1):

    list1=input("enter the number seperated by the comma: ").split(sep=",")
    list1=[int(i) for i in list1]

    sum_even=0
    sum_odd=0

    for i in list1:
        if i%2==0:
            sum_even+=i
        else:
            sum_odd+=i

    print(f"sum of even num is {sum_even} and odd sum is {sum_odd}")

In [35]:
list_sum() # We have to pass at least one argument here because it expects one argument then we can invoke this .
            # It can be anything string, int, .....

TypeError: list_sum() missing 1 required positional argument: 'list1'

In [36]:
list_sum(1)

enter the number seperated by the comma: 1,2,25,45,1,2,5,65
sum of even num is 4 and odd sum is 142

In [37]:
def list_sum():
    """this function will return you the sum of even and odd number in the list.
        input---> it asking numbers seprated by comma
        output--> will be even num in list and odd num in list
        created by Arjun on 27/02/2026
    """
    num=input("enter the number seperated by the comma: ").split(sep=",")
    num=[int(i) for i in num]

    sum_even=0
    sum_odd=0

    for i in num:
        if i%2==0:
            sum_even+=i
        else:
            sum_odd+=i

    print(f"sum of even num is {sum_even} and odd sum is {sum_odd}")

In [38]:
list_sum()

enter the number seperated by the comma: 1,2,25,45,1,2,5,65
sum of even num is 4 and odd sum is 142

In [16]:
print(list_sum.__doc__) # This is the way we can Access the documentation of any of the function

this function will return you the sum of even and odd number in the list.
        input---> it asking numbers seprated by comma
        output--> will be even num in list and odd num in list
        created by Arjun on 27/02/2026

In [17]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

## **Create a function which can take any number of input and return the multiply of all these numbers**

## **Arbitrary Argument: Accepts any number of args.**
```
Useful when the number of arguments is unknown.

## **Create a function which can multiply any number of input and return you the product of all those numbers.**

In [ ]:
# Useful when the number of arguments is unknown.
def multiply(*number):
    product = 1
    for i in number:
        product *= i
    print(product)

In [ ]:
multiply(1)

1

In [ ]:
multiply(1, 2)

2

In [ ]:
multiply(1, 2, 3)

6

In [ ]:
multiply(1, 2, 3, 4, 5, 6, 7, 8, 9)

362880

In [ ]:
def multiply(*number): # Flexible inputs ---> tuple
    product = 1
    print(number)
    print(type)
    for i in number:
        product *= i
    print(product)

In [ ]:
multiply(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'type'>
120

## `*args` and `**kwargs`

`*args`: Variable-length positional arguments. (Basically create **tuple**)
```python
def func(*args)
```
`**kwargs`: Variable-length keyword arguments. (Basically create **dictionary** based on the key & value)
```python
def func(**kwargs)
```

## **Create a function which can take any number of input and return you the list of square of all those numbers.**

In [45]:
def list_square2(*args):
    return [i**2 for i in args]

In [46]:
list_square2(1)

[1]

In [47]:
list_square2(1,2,4,5,6,7)

[1, 4, 16, 25, 36, 49]

## **Create a function which can take any number of input and return you the list of cube of all those numbers.**

In [48]:
def Cube(*arg):
    temp=[]
    for i in arg:
        temp.append(i**3)

    return temp

In [49]:
Cube(1,2,3,5,6,11,8,9)

[1, 8, 27, 125, 216, 1331, 512, 729]

## **Create Function which can Take any number of Input as a string and return, All those string start with the character "A" If not found then return not found**

**Let's solve first without the function and after that we will convert into the function**

In [59]:
# list1=["Arjun","Meena","Arun","Reena","Pankaj"]
list1=["Meena","Reena","Pankaj"]
list2=[]
for i in list1:
  if i.startswith("A"):
    list2.append(i)
if len(list2)!=0:
  print(list2)
else:
  print("Not found")

Not found

In [61]:
def Word_start_with_special_ch(*args): #name args not Mandatory.
  list1=args # basically this is a tuple
  list2=[]
  for i in list1:
    if i.startswith("A"):
      list2.append(i)
  if len(list2)!=0:
    return list2
  else:
    return "Not found"

In [62]:
Word_start_with_special_ch()

'Not found'

In [63]:
Word_start_with_special_ch("Arjun")

['Arjun']

In [64]:
Word_start_with_special_ch("Meena","Reena","Pankaj")

'Not found'

In [65]:
Word_start_with_special_ch("Arjun","Meena","Arun","Reena","Pankaj")

['Arjun', 'Arun']

## **Functions: 2 Perspectives**

1. Creator's perspective
2. User's perspective